/* style.css */
/* Mobile animation */
	.noonav > div > .noo-megamenu.noocollapse.manimate{
		display:block;
		overflow: hidden;
	}

	.noo-megamenu.manimate {
		transition: max-height 350ms ease-in;
		-webkit-transition: max-height 350ms ease-in;
		-ms-transition: max-height 350ms ease-in;
		-o-transition: max-height 350ms ease-in;
	}
	.noo-megamenu.manimate .mega > .mega-dropdown-menu {
		transition-duration: 400ms;
		-webkit-transition-duration: 400ms;
		-ms-transition-duration: 400ms;
		-o-transition-duration: 400ms;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
		opacity: 0;
		max-height: 0;
		visibility: hidden;
		display: block;
	}

	.noo-megamenu.manimate .mega.open > .mega-dropdown-menu,
	.noo-megamenu.manimate .mega:hover > .mega-dropdown-menu,
	.noo-megamenu.manimate .mega.manimating.open > .mega-dropdown-menu {
		opacity: 1;
		visibility: visible;
		max-height: 999px;
	    /*transition: max-height 400ms;
	    -webkit-transition: max-height 400ms;
	    -ms-transition: max-height 400ms;
	    -o-transition: max-height 400ms;*/
	    transition-property: max-height,opacity,visibility;
	    -webkit-transition-property: max-height,opacity,visibility;
	    -ms-transition-property: max-height,opacity,visibility;
	    -o-transition-property: max-height,opacity,visibility;
	    -webkit-transition-timing-function: ease-in;
	    -ms-transition-timing-function: ease-in;
	    transition-timing-function: ease-in;
	}

	.noo-megamenu.manimate.melastic .mega > .mega-dropdown-menu {
		transform: scale(1, 0);
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-o-transform: scale(1, 0);
	}

	.noo-megamenu.manimate.melastic .mega.open > .mega-dropdown-menu,
	.noo-megamenu.manimate.melastic .mega:hover > .mega-dropdown-menu {
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
	}

	/* Mobile search box */
	.noo-nav > .noo-menu-search-box{
		float: none;
	}
	.noonav .noo-nav > .noo-menu-search-box > .noo-menu-search,
	.noonav .noo-nav > .noo-menu-search-box > .noo-menu-cart{
		height: auto;
		padding: 15px;
		line-height: 1;
	}
	.noo-menu-search .field{
		float: left;
	}
	.noo-menu-search i{
		float: left;
	}
	.noo-menu-search form{
		display: table;
		margin: 0 auto;
	}

	/* Mobile behavior */
	.noo-megamenu .noo-row {
		width: 100%;
	}
	.noo-menu-select{
		width: 100%;
		display: block;
		border: 1px solid #ccc;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		font-family: inherit;
		padding: 0.428571rem;
	}
	.noo-nav-mb4{
		display: none;
	}

	.noo-megamenu [class*="noo-span"],
	.noo-megamenu .noo-row [class*="noo-span"] {
		float: none;
		display: block;
		width: auto;
		margin-left: 0;
	}
	.noo-megamenu .noo-span12,
	.noo-megamenu .noo-row .noo-span12 {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.noo-megamenu{
		padding:0;
	}
	.noo-nav > li > a{
		border: 0px solid rgba(0, 0, 0, 0) !important;
		height: auto !important;
		line-height: 1 !important;
		padding-bottom: 15px !important;
		padding-top: 15px !important;
		margin: 0 !important;
	}
	.noo-megamenu .dropdown-menu .mega-nav > li > a{
		border: 0px solid rgba(0, 0, 0, 0) !important;
	}
	.noo-megamenu .mega > .mega-dropdown-menu {
		opacity: 1;
		visibility: visible;
	}
	.noo-megamenu .mega > .mega-dropdown-menu{
		display: none;
	}
	.noonav .button-bar{
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 0 0 0 0;
		-ms-border-radius: 0 0 0 0;
		-o-border-radius: 0 0 0 0;
		-webkit-border-radius: 0 0 0 0;
		-moz-border-radius: 0 0 0 0;
		float: right;
		height: 34px;
		margin-bottom: 8px;
		margin-top: 8px;
		margin-right:8px;
		padding: 6px 12px;
		position: relative;
		width: 48px;
		display: block;
	}
	.noonav .button-bar i {
		display: block;
		font-size: 24px;
		color: #fff;
	}
	.noonav .button-bar:hover,
	.noonav .button-bar:focus,
	.noonav .button-bar:active{
		/*background-color: rgba(0, 0, 0, 0.36);
	    border: 1px solid rgba(0, 0, 0, 0.36);
	    border-radius: 4px 4px 4px 4px;
	    -moz-border-radius: 4px 4px 4px 4px;
	    -webkit-border-radius: 4px 4px 4px 4px;
	    -o-border-radius: 4px 4px 4px 4px;
	    -ms-border-radius: 4px 4px 4px 4px;*/
	    background-image: none;
	    box-shadow:0 0 0 transparent;
	    -o-box-shadow:0 0 0 transparent;
	    -webkit-box-shadow:0 0 0 transparent;
	}
	/*.noonav .icon-bar {
	    background-color: #F5F5F5;
	    -moz-border-radius: 1px 1px 1px 1px;
	    -o-border-radius: 1px 1px 1px 1px;
	    -webkit-border-radius: 1px 1px 1px 1px;
	    -ms-border-radius: 1px 1px 1px 1px;
	    border-radius: 1px 1px 1px 1px;
	    display: block;
	    height: 2px;
	    width: 22px;
	}
	.noonav .icon-bar + .icon-bar {
	  margin-top: 4px;
	  }*/
	  .noonav .navbar-brand {
	  	color: #fff;
	  	display: block;
	  	font-size: 18px;
	  	font-weight: 500;
	  	line-height: 20px;
	  	max-width: 200px;
	  	padding: 15px;
	  	text-align: center;
	  	text-decoration:none;

	  	float: right;
	  }
	  .noonav{
	  	float: none !important;
	  	display: block;
	  	position: relative;
	  }
	  .noo-menu-collapse-bar{
	  	display: block;
	  }
	  .noo-menu-logo{
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  }
	  .noonav > div > .noo-megamenu.noocollapse{
	  	display:none;
	  	max-height: 0px;
	  	border: medium none;
	  	padding: 0;
	  	float: none !important;
	  }
	  .noonav > div > .noo-megamenu.noocollapsing{
	  	overflow: hidden ;
	  	position: relative ;
	  	transition: height 0.35s ease 0s;
	  	-moz-transition: height 0.35s ease 0s;
	  	-o-transition: height 0.35s ease 0s;
	  	-webkit-transition: height 0.35s ease 0s;
	  	-ms-transition: height 0.35s ease 0s;
	  }
	  .noonav > div > .noo-megamenu.noocollapse.noo-collapse-open{
	  	display: block;
	  	clear: both;
	  }
	  .noo-nav > li{
	  	float: none;
	  }
	  .noonav > .noo-megamenu .noo-nav > li > a{
	  	padding:12px;
	  	margin:0;
	  	height: auto;
	  	line-height: 1;
	  	position: relative;
	  }
	  .noonav .noo-nav > li > a:hover, .noonav .noo-nav > li:hover > a{
	  	background: none;	
	  }
	  .noonav .noo-megamenu .dropdown-menu li > a:hover,
	  .noonav .noo-megamenu .dropdown-menu li > a:focus,
	  .noonav .dropdown-menu li > a:hover, 
	  .noonav .dropdown-menu li > a:focus,
	  .noonav .dropdown-submenu:hover > a,
	  .noonav .noo-megamenu .dropdown-menu .mega-nav > li > a:hover,
	  .noonav .noo-megamenu .dropdown-menu .mega-nav > li:hover > a{
	  	background: none !important;
	  }
	  .noonav .noo-nav > li.mega:not(.sub-hidden-collapse) > a:after {
	  	border-color: #FFFFFF transparent;
	  	border-style: solid;
	  	border-width: 4px 4px 0;
	  	content: " ";
	  	height: 0;
	  	position: absolute;
	  	right: 10px;
	  	top: 50%;
	  	width: 0;
	  	left:auto !important;
	  }
	  .noo-rtl.noonav .noo-nav > li.mega:not(.sub-hidden-collapse) > a:after {
	  	left: 10px !important;
	  	right: auto !important;
	  }
	  .noo-megamenu .noo-nav > .dropdown > .dropdown-toggle .caret{
	  	display: none !important;	
	  }
	  .noonav .noo-megamenu .mega-align-justify{
	  	position: relative !important;
	  }
	  .noo-megamenu .mega > .mega-dropdown-menu,
	  .noo-megamenu .mega-align-center > .dropdown-menu{
	  	border: 0 none !important;
	  	border-radius: 0 0 0 0 !important;
	  	box-shadow: none !important;
	  	float: none;
	  	/*height: auto;*/
	  	left: 0  !important;
	  	margin: 0 !important;
	  	/*opacity: 1 !important;*/
	  	padding: 0 !important;
	  	position: relative;
	  	top: 0 !important;
	  	right:auto !important;
	    /*transform: translate(0%) scale(1, 1) !important;
		-webkit-transform: translate(0%) scale(1, 1) !important;
		-o-transform: translate(0%) scale(1, 1) !important;
		-moz-transform: translate(0%) scale(1, 1) !important;
		-ms-transform: translate(0%) scale(1, 1) !important;*/
		width: 100% !important;
	}
	.noo-megamenu .noo-row + .noo-row {
		border-top: 0px solid #EEEEEE;
		padding-top: 0px;
	}
	.noonav .noo-megamenu .dropdown-menu a{
		padding: 6px 12px !important;
		margin:0 !important;
	}
	ul.level1 li {
		padding-left: 15px !important;
	}
	.noo-megamenu .noo-span12.mega-col-nav .mega-inner,
	.noo-megamenu .mega-inner  {
		padding: 0 !important;
	}
	.noonav .noo-megamenu .dropdown-submenu > a:after,
	.noonav .noo-megamenu .mega-group > a:after{
		border-color: #000000 rgba(0, 0, 0, 0);
		border-style: solid;
		border-width: 4px 4px 0 !important;
		content: " ";
		display: inline-block;
		height: 0;
		position: absolute;
		right: 19px;
		top: 8px;
		width: 0;
	}
	
	.noo-rtl.noonav .noo-megamenu .dropdown-submenu > a:after,
	.noo-rtl.noonav .noo-megamenu .mega-group > a:after{
		left: 19px;
		right:auto;
	}
	
	.noonav .noo-megamenu .dropdown-submenu > a.mega-group-title:after,
	.noonav .noo-megamenu .mega-group > a.mega-group-title:after{
		right: 10px;
	}
	.noo-rtl.noonav .noo-megamenu .dropdown-submenu > a.mega-group-title:after,
	.noo-rtl.noonav .noo-megamenu .mega-group > a.mega-group-title:after{
		left: 10px;
		right:auto;
	}
	.noo-megamenu .sub-hidden-collapse > div,
	.noo-megamenu .hidden-collapse{
		display: none !important
	} 
