.clearfix,
.noo-nav {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.noo-nav:before,
.noo-nav:after {
  display: table;
  content: " ";
  line-height: 0;
}
.clearfix:after,
.noo-nav:after  {
  clear: both;
}
.noo-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 990;
}
.noo-dropdown-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 990;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noo-megamenu .noo-row {
	width: 100%;
	*zoom: 1;
}
.noo-megamenu .noo-row:before,
.noo-megamenu .noo-row:after {
	display: table;
	content: "";
	line-height: 0;
}
.noo-megamenu .noo-row:after {
	clear: both;
}
.noo-megamenu [class*="noo-span"] {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
	*margin-left: 2.0744680846383%;
}
.noo-megamenu [class*="noo-span"]:first-child {
	margin-left: 0;
}

/*  Fix the vertical problem with fullwidth*/
div.vertical > div.noo-megamenu li.mega-align-justify [class*="noo-span"] {
	width: auto;
	*width: auto;
}
.noo-megamenu .noo-span12 {
	width: 99.99999999%;
	*width: 99.946808500638%;
}
.noo-megamenu .noo-span11 {
	width: 91.489361693%;
	*width: 91.436170203638%;
}
.noo-megamenu .noo-span10 {
	width: 82.978723396%;
	*width: 82.925531906638%;
}
.noo-megamenu .noo-span9 {
	width: 74.468085099%;
	*width: 74.414893609638%;
}
.noo-megamenu .noo-span8 {
	width: 65.957446802%;
	*width: 65.904255312638%;
}
.noo-megamenu .noo-span7 {
	width: 57.446808505%;
	*width: 57.393617015638%;
}
.noo-megamenu .noo-span6 {
	width: 48.936170208%;
	*width: 48.882978718638%;
}
.noo-megamenu .noo-span5 {
	width: 40.425531911%;
	*width: 40.372340421638%;
}
.noo-megamenu .noo-span4 {
	width: 31.914893614%;
	*width: 31.861702124638%;
}
.noo-megamenu .noo-span3 {
	width: 23.404255317%;
	*width: 23.351063827638%;
}
.noo-megamenu .noo-span2 {
	width: 14.89361702%;
	*width: 14.840425530638%;
}
.noo-megamenu .noo-span1 {
	width: 6.382978723%;
	*width: 6.3297872336383%;
}
.noo-megamenu .offset12 {
	margin-left: 104.255319138%;
	*margin-left: 104.14893615928%;
}
.noo-megamenu .offset12:first-child {
	margin-left: 102.127659564%;
	*margin-left: 102.02127658528%;
}
.noo-megamenu .offset11 {
	margin-left: 95.744680841%;
	*margin-left: 95.638297862277%;
}
.noo-megamenu .offset11:first-child {
	margin-left: 93.617021267%;
	*margin-left: 93.510638288277%;
}
.noo-megamenu .offset10 {
	margin-left: 87.234042544%;
	*margin-left: 87.127659565277%;
}
.noo-megamenu .offset10:first-child {
	margin-left: 85.10638297%;
	*margin-left: 84.999999991277%;
}
.noo-megamenu .offset9 {
	margin-left: 78.723404247%;
	*margin-left: 78.617021268277%;
}
.noo-megamenu .offset9:first-child {
	margin-left: 76.595744673%;
	*margin-left: 76.489361694277%;
}
.noo-megamenu .offset8 {
	margin-left: 70.21276595%;
	*margin-left: 70.106382971277%;
}
.noo-megamenu .offset8:first-child {
	margin-left: 68.085106376%;
	*margin-left: 67.978723397277%;
}
.noo-megamenu .offset7 {
	margin-left: 61.702127653%;
	*margin-left: 61.595744674277%;
}
.noo-megamenu .offset7:first-child {
	margin-left: 59.574468079%;
	*margin-left: 59.468085100277%;
}
.noo-megamenu .offset6 {
	margin-left: 53.191489356%;
	*margin-left: 53.085106377277%;
}
.noo-megamenu .offset6:first-child {
	margin-left: 51.063829782%;
	*margin-left: 50.957446803277%;
}
.noo-megamenu .offset5 {
	margin-left: 44.680851059%;
	*margin-left: 44.574468080277%;
}
.noo-megamenu .offset5:first-child {
	margin-left: 42.553191485%;
	*margin-left: 42.446808506277%;
}
.noo-megamenu .offset4 {
	margin-left: 36.170212762%;
	*margin-left: 36.063829783277%;
}
.noo-megamenu .offset4:first-child {
	margin-left: 34.042553188%;
	*margin-left: 33.936170209277%;
}
.noo-megamenu .offset3 {
	margin-left: 27.659574465%;
	*margin-left: 27.553191486277%;
}
.noo-megamenu .offset3:first-child {
	margin-left: 25.531914891%;
	*margin-left: 25.425531912277%;
}
.noo-megamenu .offset2 {
	margin-left: 19.148936168%;
	*margin-left: 19.042553189277%;
}
.noo-megamenu .offset2:first-child {
	margin-left: 17.021276594%;
	*margin-left: 16.914893615277%;
}
.noo-megamenu .offset1 {
	margin-left: 10.638297871%;
	*margin-left: 10.531914892277%;
}
.noo-megamenu .offset1:first-child {
	margin-left: 8.510638297%;
	*margin-left: 8.4042553182766%;
}

.noo-megamenu .mega-inner:before,
.noo-megamenu .mega-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.noo-megamenu .mega-inner:after {
  clear: both;
}
.noo-megamenu .mega-inner{
	
}
.noo-megamenu .noo-row + .noo-row {
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}

.noo-megamenu .mega-group {
  *zoom: 1;
}
.noo-megamenu .mega-group:before,
.noo-megamenu .mega-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.noo-megamenu .mega-group:after {
  clear: both;
}
.noonav .noo-megamenu .mega-nav > li.mega-group > a.mega-group-title,
.noonav .noo-megamenu .dropdown-menu .mega-nav > li.mega-group > a.mega-group-title,
.noonav .noo-megamenu .dropdown-menu .active .mega-nav > li.mega-group > a.mega-group-title {
  background: inherit;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.noo-megamenu .mega-nav .mega-group > .mega-group-title:hover,
.noo-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:hover,
.noo-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:hover,
.noo-megamenu .mega-nav .mega-group > .mega-group-title:active,
.noo-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:active,
.noo-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:active,
.noo-megamenu .mega-nav .mega-group > .mega-group-title:focus,
.noo-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:focus,
.noo-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:focus {
  background: inherit;
  /*color: inherit;*/
}
.noo-megamenu .mega-group-ct {
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.noo-megamenu .mega-group-ct:before,
.noo-megamenu .mega-group-ct:after {
  display: table;
  content: "";
  line-height: 0;
}
.noo-megamenu .mega-group-ct:after {
  clear: both;
}
.noo-megamenu .mega-group-ct > .noo-row > [class*="noo-span"] > .mega-inner {
  padding: 0;
}
.noo-megamenu .noo-span12.mega-col-nav .mega-inner {
  padding: 5px;
}
.noo-megamenu .mega-nav,
.noo-megamenu .dropdown-menu .mega-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 1;
  width: auto;
  border:none;
  height: auto;
}
.noo-megamenu .mega-nav > li,
.noo-megamenu .dropdown-menu .mega-nav > li {
  list-style: none;
  margin-left: 0;
  position: relative;
  border: none;
}
.noo-megamenu .mega-nav > li a,
.noo-megamenu .dropdown-menu .mega-nav > li a {
  white-space: normal;
}
.noo-megamenu .mega-group > .mega-nav,
.noo-megamenu .dropdown-menu .mega-group > .mega-nav {
  margin-left: -5px;
  margin-right: -5px;
}
.noo-megamenu .mega-nav .dropdown-submenu > a:after {
  /* margin-right: 5px; */
}
.noo-megamenu .noo-module {
  margin-bottom: 10px;
}
.noo-megamenu .noo-module .module-title {
  margin-bottom: 0;
}
.noo-megamenu .noo-module .module-ct {
  margin: 0;
  padding: 0;
}
.noo-megamenu .mega-align-left > .dropdown-menu {
  left: 0;
}
.noo-megamenu .mega-align-right > .dropdown-menu {
  left: auto;
  right: 0;
}
.noo-megamenu .dropdown-submenu.mega-align-left > .dropdown-menu {
  left: 100%;
}
.noo-megamenu .dropdown-submenu.mega-align-right > .dropdown-menu {
  left: auto;
  right: 100%;
}

.noo-megamenu .mega-align-justify > .dropdown-menu {
  left: 0;
  margin-left: 0;
  top: 100%;
}
.noo-megamenu .mega-caption {
  display: block;
  white-space: nowrap;
  font-weight: normal;
  font-size: 90%;
}
.noo-megamenu .noo-nav .caret,
.noo-megamenu .dropdown-submenu .caret,
.noo-megamenu .mega-menu .caret {
  display: none;
}
.noo-megamenu .noo-nav > .dropdown > .dropdown-toggle .caret {
  display: inline-block;
}
.noo-megamenu .noo-nav [class^="icon-"],
.noo-megamenu .noo-nav [class*=" icon-"] {
  margin-right: 5px;
}

/*Custom Style*/
.noo-megamenu .mega-nav, 
.noo-megamenu .dropdown-menu .mega-nav {
    display: block;
    position: static;
    float: none;
    overflow: visible;
}
.noo-megamenu .mega-nav > li,
.noo-megamenu .dropdown-menu .mega-nav > li{
	padding:0;
	margin: 0;
}
.noo-megamenu .dropdown-menu .mega-nav > li > a{
	border: none;
}
.noo-megamenu .noo-nav li{
	margin: 0;
	padding:0;
	display: block;
}
.noo-nav a,
.noo-nav li ul li a{
	width: auto;
}

.noo-left{
	float: left !important;
}
.noo-right{
	float: right !important;
}
.noo-color-black{
	color: #404040;
}
.noo-color-blue{
	color: #3372df;
}
.noo-color-yellow{
	color: #ffd45b;
}
.noo-color-red{
	color: #cb4437;
}
.noo-color-gray{
	color: #737373;
}
.noo-color-green{
	color: #09829a;
}
.noo-color-pink{
	color: #da2e75;
}

.noo-bg-black{
	background-color: #404040;
}
.noo-bg-blue{
	background-color: #3372df;
}
.noo-bg-yellow{
	background-color: #ffd45b;
}
.noo-bg-red{
	background-color: #cb4437;
}
.noo-bg-gray{
	background-color: #737373;
}
.noo-bg-green{
	background-color: #09829a;
}
.noo-bg-pink{
	background-color: #da2e75;
}