@import "compass";

body{
	.mobiwp-menu-wrap{
		margin-top: 20px;
		display: none;
		h3{
			font-size: 14px;
			&.hndle{
				padding: 5px 10px;
			}
		}
		.mobiwp-draggable-left, .mobiwp-draggable-right{
			float: left;
			width: 48%;
		}
		.mobiwp-draggable-left{
			.handlediv-mobiwp{
				display: none;
			}
		}
		.mobi-description{
			// margin-bottom: 10px;
		}
		.mobiwp-widget-top{
			background: #fafafa;
			color: #222;
			border: 1px solid #e5e5e5;
			width: 450px;
			max-width: 100%;
			h3{
				&.hndle{
					margin: 5px 0px;
				}
			}

			&:hover{
				cursor: move;
				border: 1px solid #ccc;
			}
		}
		.mobiwp-widget-inside{
			display: none;
			background: #fff;
			border: 1px solid #e5e5e5;
			border-top: 0;
			width: 450px;
			max-width: 100%;
			line-height: 16px;
			.mobiwp-inside-opts{
				padding: 15px;
				display: block;
			}
		}

		.mobiwp-draggable-right{
			float: right;
			.inside{
				h3{
					border: 0px;
				}
				.mobiwp-icon-options{
					h3{
						padding-top: 10px;
						border-top: 1px solid #eee;
						&:first-child{
							padding-top: 0px;
							border: 0px;
						}
					}
				}
			}
			.form-table{
				th, td, td p, label{
					font-size: 12px;
				}
				tr{
					width: 100%;
				}
				th{
					padding-top:0px;
					padding-bottom: 3px;
					margin-bottom: 0px;
					vertical-align: middle;
					small{
						font-weight: normal;
						color: #bbb;
					}
				}
				td{
					padding-top: 0px;
					padding-bottom: 10px;
					.select2-container{
						width: 100%;
					}
				}
				.mobiwp-icon-selection{
					visibility: hidden;
					.mobiwp-icon-ionicons, .mobiwp-icon-fontawesome{
						display: none;
					}
				}
			}
		}
		.handlediv-mobiwp{
			float: right;
			width: 27px;
			height: 30px;
			color: #aaa;
			text-decoration: none;
			border: 0px;
			&:before{
				right: 12px;
				font: 400 20px/1 dashicons;
				speak: none;
				display: inline-block;
				padding: 8px 10px;
				top: 0;
				position: relative;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-decoration: none!important;
				content: '\f140';
			}
			&:hover{
				cursor: pointer;
			}
		}
		.mobiwp-widget-sortable{
			margin-bottom: 10px;
			height: auto !important;
		}
		.mobiwp-placeholder, .ui-state-highlight{
			border: 1px dashed #eee;
			height: 50px;
			width: 100%;
			overflow: hidden;
			margin: 5px 0px 5px;
		}

		.mobiwp-widget{
			z-index: 99999;
			margin-bottom: 10px;
		}
		// .ui-state-highlight { height: 1.5em; line-height: 1.2em; border: 1px solid #ccc; }
	}
	.mobiwp-menu-customizer{
		.mobiwp-menu-wrap{
			.mobiwp-widget-top{
				&:hover{
					cursor: pointer;
				}
			}
			.mobiwp-icon-selection{
				visibility: hidden;
				position: absolute;
				.mobiwp-icon-ionicons, .mobiwp-icon-fontawesome{
					display: none;
				}
			}
			.form-table{
				th, td, td p, label{
					font-size: 12px;
				}
				tr{
					width: 100%;
				}
				th{
					padding-top:0px;
					padding-bottom: 3px;
					margin-bottom: 0px;
					vertical-align: middle;
					small{
						font-weight: normal;
						color: #bbb;
					}
				}
				td{
					padding-top: 0px;
					padding-bottom: 10px;
					.select2-container{
						width: 100%;
					}
				}
				.mobiwp-icon-selection{
					visibility: hidden;
					.mobiwp-icon-ionicons, .mobiwp-icon-fontawesome{
						display: none;
					}
				}
			}
		}
	}
	.mobi-remove-this{
		display: inline-block;
		margin-top: 5px;
		text-decoration: none;
		text-align: left;
		color: red;
		&:hover{
			text-decoration: underline;
		}
	}
	.mobiwp-clear{
		clear: both;
	}
	#s2id_mobiwp-main, #s2id_mobiwp-font-main, #s2id_mobiwp-font-popup{
		min-width: 250px;
	}
	.mobi-wp-children{
		.mobiwp-menu-wrap, .mobi-wp-grandchildren{
			margin-left: 25px;
		}
		.mobi-wp-notsupported{
			margin-left: 50px;
		}
	}
	.form-table{
		th{
			small{
				font-weight: normal;
			}
		}
	}
}