/*
	Plugin Name: Easy Social Share Buttons for WordPress
	Plugin URI: http://codecanyon.net/item/easy-social-share-buttons-for-wordpress/6394476
	Description: Social Followers Counter Module
	Author: appscreo
	Author URI: http://codecanyon.net/user/appscreo/portfolio
*/
@font-face {
	font-family: 'essb-socialfollowers';
	src: url('../font/essb-socialfollowers.eot');
	src: url('../font/essb-socialfollowers.eot#iefix')
		format('embedded-opentype'), url('../font/essb-socialfollowers.woff')
		format('woff'), url('../font/essb-socialfollowers.ttf')
		format('truetype'),
		url('../font/essb-socialfollowers.svg#essb-socialfollowers')
		format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'socialfans';
    src: url('../font/essb-socialfollowers.svg?v=3.0#socialfollowers') format('svg');
  }
}
*/
.essbfc-container {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	clear: both;
	padding: 0;
	margin-bottom: 20px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.essbfc-container ul {
	text-align: center;
	overflow: hidden;
	line-height: 0 !important;
}

.essbfc-container ul,.essbfc-container li {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
	background: transparent !important;
	text-align: left;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 0px !important;
}

.essbfc-container li .essbfc-network, .essbfc-container li .essbfc-network i {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.essbfc-container li {
	line-height: 15px;
}

.essbfc-container li .essbfc-network {
	margin: 1px !important;
}

.essbfc-container.essbfc-nospace li  .essbfc-network {
	margin: 0px !important;
}

.essbfc-container li:before,.essbfc-container li:after {
	content: "" !important;
}

.essbfc-container li a {
	text-decoration: none;
}

.essbfc-network {
	display: block;
	overflow: hidden;
	text-align: center;
}

/*
* Column Structure 
*/
.essbfc-container.essbfc-col-1 li {
	width: 100% !important;
}

.essbfc-container.essbfc-col-2 li {
	width: 50% !important;
	display: inline-block;
}

.essbfc-container.essbfc-col-3 li {
	width: 33.333% !important;
	display: inline-block;
}

.essbfc-container.essbfc-col-4 li {
	width: 25% !important;
	display: inline-block;
}

.essbfc-container.essbfc-col-5 li {
	width: 20% !important;
	display: inline-block;
}

.essbfc-container.essbfc-col-6 li {
	width: 16.6666% !important;
	display: inline-block;
}

.essbfc-container.essbfc-col-row li {
	width: 100px;
	display: inline-block;
}

.essbfc-container.essbfc-col-1 li .essbfc-icon {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	font-size: 21px;
}

.essbfc-container.essbfc-col-1 li .essbfc-followers-count {
	float: right;
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
	font-size: 16px;
	font-weight: bold;
}

.essbfc-container.essbfc-col-1 li .essbfc-followers-text {
	float: right;
	text-align: right;
	clear: both;
	margin-top: -20px;
	padding-right: 10px;
}

/*
 * Templates Code
 */

/* Grey Icons */
.essbfc-template-grey li .essbfc-network,.essbfc-template-grey li a {
	color: #616161 !important;
}

.essbfc-template-grey li:hover .essbfc-network,.essbfc-template-grey li:hover a
	{
	color: #212121 !important;
}

/* Round Grey Icons */
.essbfc-template-roundgrey li .essbfc-network,.essbfc-template-roundgrey li a
	{
	color: #616161 !important;
}

.essbfc-template-roundgrey li:hover .essbfc-network,.essbfc-template-roundgrey li:hover a
	{
	color: #212121 !important;
}

.essbfc-template-roundgrey li .essbfc-network i {
	width: 56px;
	height: 56px;
	line-height: 56px;
	padding: 0px;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 26px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.essbfc-template-roundgrey li .essbfc-network i {
	background-color: #616161 !important;
	color: #ffffff !important;
}

.essbfc-template-roundgrey li:hover .essbfc-network i {
	background-color: #212121 !important;
	color: #ffffff !important;
}

/* Outline Grey Icons */
.essbfc-template-outlinegrey li .essbfc-network,.essbfc-template-outlinegrey li a
	{
	color: #616161 !important;
}

.essbfc-template-outlinegrey li:hover .essbfc-network,.essbfc-template-outlinegrey li:hover a
	{
	color: #212121 !important;
}

.essbfc-template-outlinegrey li .essbfc-network i {
	width: 56px;
	height: 56px;
	line-height: 56px;
	padding: 0px;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 26px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.essbfc-template-outlinegrey li .essbfc-network i {
	border: 2px solid #616161;
}

.essbfc-template-outlinegrey li:hover .essbfc-network i {
	border: 2px solid #212121;
}

/* Dark Template */
.essbfc-template-dark li .essbfc-network,.essbfc-template-dark li a {
	background-color: #212121 !important;
	color: #ffffff !important;
}

.essbfc-template-dark li:hover .essbfc-network,.essbfc-template-dark li:hover a
	{
	background-color: #454545 !important;
	color: #ffffff !important;
}

/* Light Template */
.essbfc-template-light li .essbfc-network,.essbfc-template-light li a,.essbfc-template-light .essbfc-totalastext
	{
	color: #eeeeee !important;
}

.essbfc-template-light li:hover .essbfc-network,.essbfc-template-light li:hover a
	{
	color: #ffffff !important;
}

/* Round Light Icons */
.essbfc-template-roundlight li .essbfc-network,.essbfc-template-roundlight li a,.essbfc-template-roundlight .essbfc-totalastext
	{
	color: #eeeeee !important;
}

.essbfc-template-roundlight li:hover .essbfc-network,.essbfc-template-roundlight li:hover a
	{
	color: #ffffff !important;
}

.essbfc-template-roundlight li .essbfc-network i {
	width: 56px;
	height: 56px;
	line-height: 56px;
	padding: 0px;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 26px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.essbfc-template-roundlight li .essbfc-network i {
	background-color: #eeeeee !important;
	color: #666 !important;
}

.essbfc-template-roundlight li:hover .essbfc-network i {
	background-color: #ffffff !important;
	color: #666 !important;
}

/* Outline Light Icons */
.essbfc-template-outlinelight li .essbfc-network,.essbfc-template-outlinelight li a,.essbfc-template-outlinelight .essbfc-totalastext
	{
	color: #eeeeee !important;
}

.essbfc-template-outlinelight li:hover .essbfc-network,.essbfc-template-outlinelight li:hover a
	{
	color: #ffffff !important;
}

.essbfc-template-outlinelight li .essbfc-network i {
	width: 56px;
	height: 56px;
	line-height: 56px;
	padding: 0px;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 26px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.essbfc-template-outlinelight li .essbfc-network i {
	border: 2px solid #eeeeee;
}

.essbfc-template-outlinelight li:hover .essbfc-network i {
	border: 2px solid #ffffff;
}

/* Color Template */
.essbfc-template-color li .essbfc-network,.essbfc-template-color li a {
	color: #616161 !important;
}

.essbfc-template-color li:hover .essbfc-network,.essbfc-template-color li:hover a
	{
	color: #212121 !important;
}

.essbfc-template-color li:hover i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity =     80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.essbfc-template-color .essbfc-icon-mailchimp {
	color: #2c9ab7 !important
}

.essbfc-template-color .essbfc-icon-youtube {
	color: #CD332D !important;
}

.essbfc-template-color .essbfc-icon-email {
	color: #393939 !important;
}

.essbfc-template-color .essbfc-icon-vimeo {
	color: #1ab7ea !important;
}

.essbfc-template-color .essbfc-icon-twitter {
	color: #4099FF !important;
}

.essbfc-template-color .essbfc-icon-facebook {
	color: #3B5998 !important;
}

.essbfc-template-color .essbfc-icon-google {
	color: #dd4b39 !important;
}

.essbfc-template-color .essbfc-icon-pinterest {
	color: #cb2027 !important;
}

.essbfc-template-color .essbfc-icon-linkedin {
	color: #007bb6 !important;
}

.essbfc-template-color .essbfc-icon-github {
	color: #171515 !important;
}

.essbfc-template-color .essbfc-icon-instagram {
	color: #3f729b !important;
}

.essbfc-template-color .essbfc-icon-soundcloud {
	color: #ff7700 !important;
}

.essbfc-template-color .essbfc-icon-behance {
	color: #005cff !important;
}

.essbfc-template-color .essbfc-icon-delicious {
	color: #205cc0 !important;
}

.essbfc-template-color .essbfc-icon-foursquare {
	color: #25a0ca !important;
}

.essbfc-template-color .essbfc-icon-forrst {
	color: #5b9a68 !important;
}

.essbfc-template-color .essbfc-icon-dribbble {
	color: #ea4c89 !important;
}

.essbfc-template-color .essbfc-icon-envato {
	color: #82b540 !important;
}

.essbfc-template-color .essbfc-icon-vk {
	color: #45668e !important;
}

.essbfc-template-color .essbfc-icon-rss {
	color: #FF6600 !important;
}

.essbfc-template-color .essbfc-icon-tumblr {
	color: #32506d !important;
}

.essbfc-template-color .essbfc-icon-vine {
	color: #00b488 !important;
}

.essbfc-template-color .essbfc-icon-slideshare {
	color: #e98325 !important;
}

.essbfc-template-color .essbfc-icon-500px {
	color: #02adea !important;
}

.essbfc-template-color .essbfc-icon-flickr {
	color: #FF0084 !important;
}

.essbfc-template-color .essbfc-icon-wp_posts {
	color: #c2685f !important;
}

.essbfc-template-color .essbfc-icon-wp_comments {
	color: #b8c25f !important;
}

.essbfc-template-color .essbfc-icon-wp_users {
	color: #5fa7c2 !important;
}

.essbfc-template-color .essbfc-icon-audioboo {
	color: #b0006d !important;
}

.essbfc-template-color .essbfc-icon-steamcommunity {
	color: #000000 !important;
}

.essbfc-template-color .essbfc-icon-weheartit {
	color: #ff679d !important;
}

.essbfc-template-color .essbfc-icon-feedly {
	color: #02bb24 !important;
}

.essbfc-template-color .essbfc-icon-love {
	color: #ED1C24 !important;
}

.essbfc-template-color .essbfc-icon-mailpoet {
	color: #F14176 !important
}

.essbfc-template-color .essbfc-icon-mymail {
	color: #28b4e9 !important
}

.essbfc-template-color .essbfc-icon-spotify {
	color: #84bd00 !important
}

.essbfc-template-color .essbfc-icon-twitch {
	color: #6441a5 !important
}

.essbfc-template-color .essbfc-icon-total {
	color: #555555 !important
}

/* Round Color Template */
.essbfc-template-roundcolor li .essbfc-network,.essbfc-template-roundcolor li a
	{
	color: #616161 !important;
}

.essbfc-template-roundcolor li:hover .essbfc-network,.essbfc-template-roundcolor li:hover a
	{
	color: #212121 !important;
}

.essbfc-template-roundcolor li:hover i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity =     80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.essbfc-template-roundcolor li .essbfc-network i {
	width: 56px;
	height: 56px;
	line-height: 56px;
	padding: 0px;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 26px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #ffffff !important;
}

.essbfc-template-roundcolor .essbfc-icon-mailchimp {
	background-color: #2c9ab7 !important
}

.essbfc-template-roundcolor .essbfc-icon-youtube {
	background-color: #CD332D !important;
}

.essbfc-template-roundcolor .essbfc-icon-email {
	background-color: #393939 !important;
}

.essbfc-template-roundcolor .essbfc-icon-vimeo {
	background-color: #1ab7ea !important;
}

.essbfc-template-roundcolor .essbfc-icon-twitter {
	background-color: #4099FF !important;
}

.essbfc-template-roundcolor .essbfc-icon-facebook {
	background-color: #3B5998 !important;
}

.essbfc-template-roundcolor .essbfc-icon-google {
	background-color: #dd4b39 !important;
}

.essbfc-template-roundcolor .essbfc-icon-pinterest {
	background-color: #cb2027 !important;
}

.essbfc-template-roundcolor .essbfc-icon-linkedin {
	background-color: #007bb6 !important;
}

.essbfc-template-roundcolor .essbfc-icon-github {
	background-color: #171515 !important;
}

.essbfc-template-roundcolor .essbfc-icon-instagram {
	background-color: #3f729b !important;
}

.essbfc-template-roundcolor .essbfc-icon-soundcloud {
	background-color: #ff7700 !important;
}

.essbfc-template-roundcolor .essbfc-icon-behance {
	background-color: #005cff !important;
}

.essbfc-template-roundcolor .essbfc-icon-delicious {
	background-color: #205cc0 !important;
}

.essbfc-template-roundcolor .essbfc-icon-foursquare {
	background-color: #25a0ca !important;
}

.essbfc-template-roundcolor .essbfc-icon-forrst {
	background-color: #5b9a68 !important;
}

.essbfc-template-roundcolor .essbfc-icon-dribbble {
	background-color: #ea4c89 !important;
}

.essbfc-template-roundcolor .essbfc-icon-envato {
	background-color: #82b540 !important;
}

.essbfc-template-roundcolor .essbfc-icon-vk {
	background-color: #45668e !important;
}

.essbfc-template-roundcolor .essbfc-icon-rss {
	background-color: #FF6600 !important;
}

.essbfc-template-roundcolor .essbfc-icon-tumblr {
	background-color: #32506d !important;
}

.essbfc-template-roundcolor .essbfc-icon-vine {
	background-color: #00b488 !important;
}

.essbfc-template-roundcolor .essbfc-icon-slideshare {
	background-color: #e98325 !important;
}

.essbfc-template-roundcolor .essbfc-icon-500px {
	background-color: #02adea !important;
}

.essbfc-template-roundcolor .essbfc-icon-flickr {
	background-color: #FF0084 !important;
}

.essbfc-template-roundcolor .essbfc-icon-wp_posts {
	background-color: #c2685f !important;
}

.essbfc-template-roundcolor .essbfc-icon-wp_comments {
	background-color: #b8c25f !important;
}

.essbfc-template-roundcolor .essbfc-icon-wp_users {
	background-color: #5fa7c2 !important;
}

.essbfc-template-roundcolor .essbfc-icon-audioboo {
	background-color: #b0006d !important;
}

.essbfc-template-roundcolor .essbfc-icon-steamcommunity {
	background-color: #000000 !important;
}

.essbfc-template-roundcolor .essbfc-icon-weheartit {
	background-color: #ff679d !important;
}

.essbfc-template-roundcolor .essbfc-icon-feedly {
	background-color: #02bb24 !important;
}

.essbfc-template-roundcolor .essbfc-icon-love {
	background-color: #ED1C24 !important;
}

.essbfc-template-roundcolor .essbfc-icon-mailpoet {
	background-color: #F14176 !important
}

.essbfc-template-roundcolor .essbfc-icon-mymail {
	background-color: #28b4e9 !important
}

.essbfc-template-roundcolor .essbfc-icon-spotify {
	background-color: #84bd00 !important
}

.essbfc-template-roundcolor .essbfc-icon-twitch {
	background-color: #6441a5 !important
}

.essbfc-template-roundcolor .essbfc-icon-total {
	background-color: #555555 !important
}

/* Outline Color */
.essbfc-template-outlinecolor li .essbfc-network,.essbfc-template-outlinecolor li a
	{
	color: #616161 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-network,.essbfc-template-outlinecolor li:hover a
	{
	color: #212121 !important;
}

.essbfc-template-outlinecolor li .essbfc-network i {
	width: 56px;
	height: 56px;
	line-height: 56px;
	padding: 0px;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 26px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.essbfc-template-outlinecolor li:hover i {
	color: #ffffff !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-mailchimp {
	background-color: #2c9ab7 !important
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-youtube {
	background-color: #CD332D !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-email {
	background-color: #393939 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-vimeo {
	background-color: #1ab7ea !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-twitter {
	background-color: #4099FF !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-facebook {
	background-color: #3B5998 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-google {
	background-color: #dd4b39 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-pinterest {
	background-color: #cb2027 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-linkedin {
	background-color: #007bb6 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-github {
	background-color: #171515 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-instagram {
	background-color: #3f729b !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-soundcloud {
	background-color: #ff7700 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-behance {
	background-color: #005cff !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-delicious {
	background-color: #205cc0 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-foursquare {
	background-color: #25a0ca !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-forrst {
	background-color: #5b9a68 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-dribbble {
	background-color: #ea4c89 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-envato {
	background-color: #82b540 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-vk {
	background-color: #45668e !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-rss {
	background-color: #FF6600 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-tumblr {
	background-color: #32506d !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-vine {
	background-color: #00b488 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-slideshare {
	background-color: #e98325 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-500px {
	background-color: #02adea !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-flickr {
	background-color: #FF0084 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-wp_posts {
	background-color: #c2685f !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-wp_comments {
	background-color: #b8c25f !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-wp_users {
	background-color: #5fa7c2 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-audioboo {
	background-color: #b0006d !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-steamcommunity {
	background-color: #000000 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-weheartit {
	background-color: #ff679d !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-feedly {
	background-color: #02bb24 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-love {
	background-color: #ED1C24 !important;
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-mailpoet {
	background-color: #F14176 !important
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-mymail {
	background-color: #28b4e9 !important
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-spotify {
	background-color: #84bd00 !important
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-twitch {
	background-color: #6441a5 !important
}

.essbfc-template-outlinecolor li:hover .essbfc-icon-total {
	background-color: #555555 !important
}

.essbfc-template-outlinecolor .essbfc-icon-mailchimp {
	color: #2c9ab7 !important;
	border: 2px solid #2c9ab7 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-youtube {
	color: #CD332D !important;
	border: 2px solid #CD332D !important;
}

.essbfc-template-outlinecolor .essbfc-icon-email {
	color: #393939 !important;
	border: 2px solid #393939 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-vimeo {
	color: #1ab7ea !important;
	border: 2px solid #1ab7ea !important;
}

.essbfc-template-outlinecolor .essbfc-icon-twitter {
	color: #4099FF !important;
	border: 2px solid #4099FF !important;
}

.essbfc-template-outlinecolor .essbfc-icon-facebook {
	color: #3B5998 !important;
	border: 2px solid #3B5998 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-google {
	color: #dd4b39 !important;
	border: 2px solid #dd4b39 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-pinterest {
	color: #cb2027 !important;
	border: 2px solid #cb2027 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-linkedin {
	color: #007bb6 !important;
	border: 2px solid #007bb6 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-github {
	color: #171515 !important;
	border: 2px solid #171515 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-instagram {
	color: #3f729b !important;
	border: 2px solid #3f729b !important;
}

.essbfc-template-outlinecolor .essbfc-icon-soundcloud {
	color: #ff7700 !important;
	border: 2px solid #ff7700 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-behance {
	color: #005cff !important;
	border: 2px solid #005cff !important;
}

.essbfc-template-outlinecolor .essbfc-icon-delicious {
	color: #205cc0 !important;
	border: 2px solid #205cc0 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-foursquare {
	color: #25a0ca !important;
	border: 2px solid #25a0ca !important;
}

.essbfc-template-outlinecolor .essbfc-icon-forrst {
	color: #5b9a68 !important;
	border: 2px solid #5b9a68 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-dribbble {
	color: #ea4c89 !important;
	border: 2px solid #ea4c89 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-envato {
	color: #82b540 !important;
	border: 2px solid #82b540 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-vk {
	color: #45668e !important;
	border: 2px solid #45668e !important;
}

.essbfc-template-outlinecolor .essbfc-icon-rss {
	color: #FF6600 !important;
	border: 2px solid #FF6600 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-tumblr {
	color: #32506d !important;
	border: 2px solid #32506d !important;
}

.essbfc-template-outlinecolor .essbfc-icon-vine {
	color: #00b488 !important;
	border: 2px solid #00b488 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-slideshare {
	color: #e98325 !important;
	border: 2px solid #e98325 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-500px {
	color: #02adea !important;
	border: 2px solid #02adea !important;
}

.essbfc-template-outlinecolor .essbfc-icon-flickr {
	color: #FF0084 !important;
	border: 2px solid #FF0084 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-wp_posts {
	color: #c2685f !important;
	border: 2px solid #c2685f !important;
}

.essbfc-template-outlinecolor .essbfc-icon-wp_comments {
	color: #b8c25f !important;
	border: 2px solid #b8c25f !important;
}

.essbfc-template-outlinecolor .essbfc-icon-wp_users {
	color: #5fa7c2 !important;
	border: 2px solid #5fa7c2 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-audioboo {
	color: #b0006d !important;
	border: 2px solid #b0006d !important;
}

.essbfc-template-outlinecolor .essbfc-icon-steamcommunity {
	color: #000000 !important;
	border: 2px solid #000000 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-weheartit {
	color: #ff679d !important;
	border: 2px solid #ff679d !important;
}

.essbfc-template-outlinecolor .essbfc-icon-feedly {
	color: #02bb24 !important;
	border: 2px solid #02bb24 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-love {
	color: #ED1C24 !important;
	border: 2px solid #ED1C24 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-mailpoet {
	color: #F14176 !important;
	border: 2px solid #F14176 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-mymail {
	color: #28b4e9 !important;
	border: 2px solid #28b4e9 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-spotify {
	color: #84bd00 !important;
	border: 2px solid #84bd00 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-twitch {
	color: #6441a5 !important;
	border: 2px solid #6441a5 !important;
}

.essbfc-template-outlinecolor .essbfc-icon-total {
	color: #555555 !important;
	border: 2px solid #555555 !important;
}

/* Metro Template */
.essbfc-template-metro li .essbfc-network,.essbfc-template-metro li a {
	color: #FFFFFF !important;
}

.essbfc-template-metro li:hover .essbfc-network,.essbfc-template-metro li:hover a
	{
	color: #FFFFFF !important;
}

.essbfc-template-metro li:hover .essbfc-network {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity =   80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.essbfc-template-metro .essbfc-mailchimp .essbfc-network {
	background-color: #2c9ab7 !important
}

.essbfc-template-metro .essbfc-youtube .essbfc-network {
	background-color: #CD332D !important;
}

.essbfc-template-metro .essbfc-email .essbfc-network {
	background-color: #393939 !important;
}

.essbfc-template-metro .essbfc-vimeo .essbfc-network {
	background-color: #1ab7ea !important;
}

.essbfc-template-metro .essbfc-twitter .essbfc-network {
	background-color: #4099FF !important;
}

.essbfc-template-metro .essbfc-facebook .essbfc-network {
	background-color: #3B5998 !important;
}

.essbfc-template-metro .essbfc-google .essbfc-network {
	background-color: #dd4b39 !important;
}

.essbfc-template-metro .essbfc-pinterest .essbfc-network {
	background-color: #cb2027 !important;
}

.essbfc-template-metro .essbfc-linkedin .essbfc-network {
	background-color: #007bb6 !important;
}

.essbfc-template-metro .essbfc-github .essbfc-network {
	background-color: #171515 !important;
}

.essbfc-template-metro .essbfc-instagram .essbfc-network {
	background-color: #3f729b !important;
}

.essbfc-template-metro .essbfc-soundcloud .essbfc-network {
	background-color: #ff7700 !important;
}

.essbfc-template-metro .essbfc-behance .essbfc-network {
	background-color: #005cff !important;
}

.essbfc-template-metro .essbfc-delicious .essbfc-network {
	background-color: #205cc0 !important;
}

.essbfc-template-metro .essbfc-foursquare .essbfc-network {
	background-color: #25a0ca !important;
}

.essbfc-template-metro .essbfc-forrst .essbfc-network {
	background-color: #5b9a68 !important;
}

.essbfc-template-metro .essbfc-dribbble .essbfc-network {
	background-color: #ea4c89 !important;
}

.essbfc-template-metro .essbfc-envato .essbfc-network {
	background-color: #82b540 !important;
}

.essbfc-template-metro .essbfc-vk .essbfc-network {
	background-color: #45668e !important;
}

.essbfc-template-metro .essbfc-rss .essbfc-network {
	background-color: #FF6600 !important;
}

.essbfc-template-metro .essbfc-tumblr .essbfc-network {
	background-color: #32506d !important;
}

.essbfc-template-metro .essbfc-vine .essbfc-network {
	background-color: #00b488 !important;
}

.essbfc-template-metro .essbfc-slideshare .essbfc-network {
	background-color: #e98325 !important;
}

.essbfc-template-metro .essbfc-500px .essbfc-network {
	background-color: #02adea !important;
}

.essbfc-template-metro .essbfc-flickr .essbfc-network {
	background-color: #FF0084 !important;
}

.essbfc-template-metro .essbfc-wp_posts .essbfc-network {
	background-color: #c2685f !important;
}

.essbfc-template-metro .essbfc-wp_comments .essbfc-network {
	background-color: #b8c25f !important;
}

.essbfc-template-metro .essbfc-wp_users .essbfc-network {
	background-color: #5fa7c2 !important;
}

.essbfc-template-metro .essbfc-audioboo .essbfc-network {
	background-color: #b0006d !important;
}

.essbfc-template-metro .essbfc-steamcommunity .essbfc-network {
	background-color: #000000 !important;
}

.essbfc-template-metro .essbfc-weheartit .essbfc-network {
	background-color: #ff679d !important;
}

.essbfc-template-metro .essbfc-feedly .essbfc-network {
	background-color: #02bb24 !important;
}

.essbfc-template-metro .essbfc-love .essbfc-network {
	background-color: #ED1C24 !important;
}

.essbfc-template-metro .essbfc-mailpoet .essbfc-network {
	background-color: #F14176 !important;
}

.essbfc-template-metro .essbfc-mymail .essbfc-network {
	background-color: #28b4e9 !important;
}

.essbfc-template-metro .essbfc-spotify .essbfc-network {
	background-color: #84bd00 !important;
}

.essbfc-template-metro .essbfc-twitch .essbfc-network {
	background-color: #6441a5 !important;
}

.essbfc-template-metro .essbfc-total .essbfc-network {
	background-color: #555555 !important;
}

/* Flat Template */
.essbfc-template-flat li .essbfc-network,.essbfc-template-flat li a {
	color: #FFFFFF !important;
}

.essbfc-template-flat li:hover .essbfc-network,.essbfc-template-flat li:hover a
	{
	color: #FFFFFF !important;
}

.essbfc-template-flat li .essbfc-network {
	background-clip: padding-box;
	border-radius: 5px;
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.25);
}

.essbfc-template-flat li:hover .essbfc-network {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0.4) 100% ); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0.4) 100% ); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%,
		rgba(0, 0, 0, 0.4) 100% );
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#1a000000',
		endColorstr='#66000000', GradientType=0 ); /* IE6-9 */
}

.essbfc-template-flat .essbfc-mailchimp .essbfc-network {
	background-color: #2c9ab7 !important;
}

.essbfc-template-flat .essbfc-youtube .essbfc-network {
	background-color: #CD332D !important;
}

.essbfc-template-flat .essbfc-email .essbfc-network {
	background-color: #393939 !important;
}

.essbfc-template-flat .essbfc-vimeo .essbfc-network {
	background-color: #1ab7ea !important;
}

.essbfc-template-flat .essbfc-twitter .essbfc-network {
	background-color: #4099FF !important;
}

.essbfc-template-flat .essbfc-facebook .essbfc-network {
	background-color: #3B5998 !important;
}

.essbfc-template-flat .essbfc-google .essbfc-network {
	background-color: #dd4b39 !important;
}

.essbfc-template-flat .essbfc-pinterest .essbfc-network {
	background-color: #cb2027 !important;
}

.essbfc-template-flat .essbfc-linkedin .essbfc-network {
	background-color: #007bb6 !important;
}

.essbfc-template-flat .essbfc-github .essbfc-network {
	background-color: #171515 !important;
}

.essbfc-template-flat .essbfc-instagram .essbfc-network {
	background-color: #3f729b !important;
}

.essbfc-template-flat .essbfc-soundcloud .essbfc-network {
	background-color: #ff7700 !important;
}

.essbfc-template-flat .essbfc-behance .essbfc-network {
	background-color: #005cff !important;
}

.essbfc-template-flat .essbfc-delicious .essbfc-network {
	background-color: #205cc0 !important;
}

.essbfc-template-flat .essbfc-foursquare .essbfc-network {
	background-color: #25a0ca !important;
}

.essbfc-template-flat .essbfc-forrst .essbfc-network {
	background-color: #5b9a68 !important;
}

.essbfc-template-flat .essbfc-dribbble .essbfc-network {
	background-color: #ea4c89 !important;
}

.essbfc-template-flat .essbfc-envato .essbfc-network {
	background-color: #82b540 !important;
}

.essbfc-template-flat .essbfc-vk .essbfc-network {
	background-color: #45668e !important;
}

.essbfc-template-flat .essbfc-rss .essbfc-network {
	background-color: #FF6600 !important;
}

.essbfc-template-flat .essbfc-tumblr .essbfc-network {
	background-color: #32506d !important;
}

.essbfc-template-flat .essbfc-vine .essbfc-network {
	background-color: #00b488 !important;
}

.essbfc-template-flat .essbfc-slideshare .essbfc-network {
	background-color: #e98325 !important;
}

.essbfc-template-flat .essbfc-500px .essbfc-network {
	background-color: #02adea !important;
}

.essbfc-template-flat .essbfc-flickr .essbfc-network {
	background-color: #FF0084 !important;
}

.essbfc-template-flat .essbfc-wp_posts .essbfc-network {
	background-color: #c2685f !important;
}

.essbfc-template-flat .essbfc-wp_comments .essbfc-network {
	background-color: #b8c25f !important;
}

.essbfc-template-flat .essbfc-wp_users .essbfc-network {
	background-color: #5fa7c2 !important;
}

.essbfc-template-flat .essbfc-audioboo .essbfc-network {
	background-color: #b0006d !important;
}

.essbfc-template-flat .essbfc-steamcommunity .essbfc-network {
	background-color: #000000 !important;
}

.essbfc-template-flat .essbfc-weheartit .essbfc-network {
	background-color: #ff679d !important;
}

.essbfc-template-flat .essbfc-feedly .essbfc-network {
	background-color: #02bb24 !important;
}

.essbfc-template-flat .essbfc-love .essbfc-network {
	background-color: #ED1C24 !important;
}

.essbfc-template-flat .essbfc-mailpoet .essbfc-network {
	background-color: #F14176 !important;
}

.essbfc-template-flat .essbfc-mymail .essbfc-network {
	background-color: #28b4e9 !important;
}

.essbfc-template-flat .essbfc-spotify .essbfc-network {
	background-color: #84bd00 !important;
}

.essbfc-template-flat .essbfc-twitch .essbfc-network {
	background-color: #6441a5 !important;
}

.essbfc-template-flat .essbfc-total .essbfc-network {
	background-color: #555555 !important;
}

/* Tiny Color Template */
.essbfc-template-tinycolor li .essbfc-network,.essbfc-template-tinycolor li a {
	color: #FFFFFF !important;
}

.essbfc-template-tinycolor li:hover .essbfc-network,.essbfc-template-tinycolor li:hover a {
	color: #FFFFFF !important;
}

.essbfc-template-tinycolor .essbfc-network {
	text-align: left;
}

.essbfc-template-tinycolor .essbfc-icon {
	font-size: 18px;
	display: inline-block;
	padding: 10px;
	padding-right: 0px;
	margin-right: 5px;
	text-align: center;
}

.essbfc-template-tinycolor .essbfc-followers-count {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	min-width: 0px;
	float: right;
	padding-top: 10px;
	padding-right: 8px;
}

.essbfc-template-tinycolor .essbfc-followers-text {
	display: none;
	min-width: 0px;
}

.essbfc-template-tinycolor li:hover .essbfc-network {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity =   80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.essbfc-template-tinycolor .essbfc-mailchimp .essbfc-network {
	background-color: #2c9ab7 !important;
}

.essbfc-template-tinycolor .essbfc-youtube .essbfc-network {
	background-color: #CD332D !important;
}

.essbfc-template-tinycolor .essbfc-email .essbfc-network {
	background-color: #393939 !important;
}

.essbfc-template-tinycolor .essbfc-vimeo .essbfc-network {
	background-color: #1ab7ea !important;
}

.essbfc-template-tinycolor .essbfc-twitter .essbfc-network {
	background-color: #4099FF !important;
}

.essbfc-template-tinycolor .essbfc-facebook .essbfc-network {
	background-color: #3B5998 !important;
}

.essbfc-template-tinycolor .essbfc-google .essbfc-network {
	background-color: #dd4b39 !important;
}

.essbfc-template-tinycolor .essbfc-pinterest .essbfc-network {
	background-color: #cb2027 !important;
}

.essbfc-template-tinycolor .essbfc-linkedin .essbfc-network {
	background-color: #007bb6 !important;
}

.essbfc-template-tinycolor .essbfc-github .essbfc-network {
	background-color: #171515 !important;
}

.essbfc-template-tinycolor .essbfc-instagram .essbfc-network {
	background-color: #3f729b !important;
}

.essbfc-template-tinycolor .essbfc-soundcloud .essbfc-network {
	background-color: #ff7700 !important;
}

.essbfc-template-tinycolor .essbfc-behance .essbfc-network {
	background-color: #005cff !important;
}

.essbfc-template-tinycolor .essbfc-delicious .essbfc-network {
	background-color: #205cc0 !important;
}

.essbfc-template-tinycolor .essbfc-foursquare .essbfc-network {
	background-color: #25a0ca !important;
}

.essbfc-template-tinycolor .essbfc-forrst .essbfc-network {
	background-color: #5b9a68 !important;
}

.essbfc-template-tinycolor .essbfc-dribbble .essbfc-network {
	background-color: #ea4c89 !important;
}

.essbfc-template-tinycolor .essbfc-envato .essbfc-network {
	background-color: #82b540 !important;
}

.essbfc-template-tinycolor .essbfc-vk .essbfc-network {
	background-color: #45668e !important;
}

.essbfc-template-tinycolor .essbfc-rss .essbfc-network {
	background-color: #FF6600 !important;
}

.essbfc-template-tinycolor .essbfc-tumblr .essbfc-network {
	background-color: #32506d !important;
}

.essbfc-template-tinycolor .essbfc-vine .essbfc-network {
	background-color: #00b488 !important;
}

.essbfc-template-tinycolor .essbfc-slideshare .essbfc-network {
	background-color: #e98325 !important;
}

.essbfc-template-tinycolor .essbfc-500px .essbfc-network {
	background-color: #02adea !important;
}

.essbfc-template-tinycolor .essbfc-flickr .essbfc-network {
	background-color: #FF0084 !important;
}

.essbfc-template-tinycolor .essbfc-wp_posts .essbfc-network {
	background-color: #c2685f !important;
}

.essbfc-template-tinycolor .essbfc-wp_comments .essbfc-network {
	background-color: #b8c25f !important;
}

.essbfc-template-tinycolor .essbfc-wp_users .essbfc-network {
	background-color: #5fa7c2 !important;
}

.essbfc-template-tinycolor .essbfc-audioboo .essbfc-network {
	background-color: #b0006d !important;
}

.essbfc-template-tinycolor .essbfc-steamcommunity .essbfc-network {
	background-color: #000000 !important;
}

.essbfc-template-tinycolor .essbfc-weheartit .essbfc-network {
	background-color: #ff679d !important;
}

.essbfc-template-tinycolor .essbfc-feedly .essbfc-network {
	background-color: #02bb24 !important;
}

.essbfc-template-tinycolor .essbfc-love .essbfc-network {
	background-color: #ED1C24 !important;
}

.essbfc-template-tinycolor .essbfc-mailpoet .essbfc-network {
	background-color: #F14176 !important;
}

.essbfc-template-tinycolor .essbfc-mymail .essbfc-network {
	background-color: #28b4e9 !important;
}

.essbfc-template-tinycolor .essbfc-spotify .essbfc-network {
	background-color: #84bd00 !important;
}

.essbfc-template-tinycolor .essbfc-twitch .essbfc-network {
	background-color: #6441a5 !important;
}

.essbfc-template-tinycolor .essbfc-total .essbfc-network {
	background-color: #555555 !important;
}

/* Tiny Grey Template */
.essbfc-template-tinygrey li .essbfc-network,.essbfc-template-tinygrey li a {
	color: #FFFFFF !important;
}

.essbfc-template-tinygrey li:hover .essbfc-network,.essbfc-template-tinygrey li:hover a {
	color: #FFFFFF !important;
}

.essbfc-template-tinygrey .essbfc-network {
	text-align: left;
	background-color: #616161 !important;
}

.essbfc-template-tinygrey li:hover .essbfc-network {
	text-align: left;
	background-color: #212121 !important;
}

.essbfc-template-tinygrey .essbfc-icon {
	font-size: 18px;
	display: inline-block;
	padding: 10px;
	padding-right: 0px;
	margin-right: 5px;
	text-align: center;
}

.essbfc-template-tinygrey .essbfc-followers-count {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	min-width: 0px;
	float: right;
	padding-top: 10px;
	padding-right: 8px;
}

.essbfc-template-tinygrey .essbfc-followers-text {
	display: none;
	min-width: 0px;
}

/* Tiny Light Template */
.essbfc-template-tinylight li .essbfc-network,.essbfc-template-tinylight li a {
	color: #555555 !important;
}

.essbfc-template-tinylight li:hover .essbfc-network,.essbfc-template-tinylight li:hover a {
	color: #555555 !important;
}

.essbfc-template-tinylight .essbfc-network {
	text-align: left;
	background-color: #efefef !important;
	opacity: 0.8;
}

.essbfc-template-tinylight li:hover .essbfc-network {
	text-align: left;
	background-color: #ffffff !important;
	opacity: 1;
}

.essbfc-template-tinylight .essbfc-icon {
	font-size: 18px;
	display: inline-block;
	padding: 10px;
	padding-right: 0px;
	margin-right: 5px;
	text-align: center;
}

.essbfc-template-tinylight .essbfc-followers-count {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	min-width: 0px;
	float: right;
	padding-top: 10px;
	padding-right: 8px;
}

.essbfc-template-tinylight .essbfc-followers-text {
	display: none;
	min-width: 0px;
}


/* Modern Template */
.essbfc-template-modern li .essbfc-network,.essbfc-template-modern li a {
	color: #444444 !important;
}

.essbfc-template-modern li:hover .essbfc-network,.essbfc-template-modern li:hover a
	{
	color: #FFFFFF !important;
}

.essbfc-template-modern li:hover .essbfc-network, .essbfc-template-modern li:hover .essbfc-network i {
	color: #ffffff !important;
}

.essbfc-template-modern .essbfc-mailchimp:hover .essbfc-network {
	background-color: #2c9ab7 !important;
}

.essbfc-template-modern .essbfc-mailchimp .essbfc-network {
	border-bottom: 3px solid #2c9ab7 !important
}

.essbfc-template-modern .essbfc-mailchimp .essbfc-network i {
	color: #2c9ab7 !important;
}

.essbfc-template-modern .essbfc-youtube:hover .essbfc-network {
	background-color: #CD332D !important;
}

.essbfc-template-modern .essbfc-youtube .essbfc-network {
	border-bottom: 3px solid #CD332D !important;
}
.essbfc-template-modern .essbfc-youtube .essbfc-network i {
	color: #CD332D !important;
}

.essbfc-template-modern .essbfc-email:hover .essbfc-network {
	background-color: #393939 !important;
}

.essbfc-template-modern .essbfc-email .essbfc-network i {
	color: #393939 !important;
}

.essbfc-template-modern .essbfc-email .essbfc-network {
	border-bottom: 3px solid #393939 !important;
}

.essbfc-template-modern .essbfc-vimeo:hover .essbfc-network {
	background-color: #1ab7ea !important;
}

.essbfc-template-modern .essbfc-vimeo .essbfc-network i {
	color: #1ab7ea !important;
}

.essbfc-template-modern .essbfc-vimeo .essbfc-network {
	border-bottom: 3px solid #1ab7ea !important;
}

.essbfc-template-modern .essbfc-twitter:hover .essbfc-network {
	background-color: #4099FF !important;
}

.essbfc-template-modern .essbfc-twitter .essbfc-network i {
	color: #4099FF !important;
}

.essbfc-template-modern .essbfc-twitter .essbfc-network {
	border-bottom: 3px solid #4099FF !important;
}

.essbfc-template-modern .essbfc-facebook:hover .essbfc-network {
	background-color: #3B5998 !important;
}

.essbfc-template-modern .essbfc-facebook .essbfc-network {
	border-bottom: 3px solid #3B5998 !important;
}

.essbfc-template-modern .essbfc-facebook .essbfc-network i {
	color: #3B5998 !important;
}

.essbfc-template-modern .essbfc-google:hover .essbfc-network {
	background-color: #dd4b39 !important;
}

.essbfc-template-modern .essbfc-google .essbfc-network i {
	color: #dd4b39 !important;
}

.essbfc-template-modern .essbfc-google .essbfc-network {
	border-bottom: 3px solid #dd4b39 !important;
}

.essbfc-template-modern .essbfc-pinterest:hover .essbfc-network {
	background-color: #cb2027 !important;
}

.essbfc-template-modern .essbfc-pinterest .essbfc-network {
	border-bottom: 3px solid #cb2027 !important;
}

.essbfc-template-modern .essbfc-pinterest .essbfc-network i {
	color: #cb2027 !important;
}

.essbfc-template-modern .essbfc-linkedin:hover .essbfc-network {
	background-color: #007bb6 !important;
}

.essbfc-template-modern .essbfc-linkedin .essbfc-network {
	border-bottom: 3px solid #007bb6 !important;
}
.essbfc-template-modern .essbfc-linkedin .essbfc-network i {
	color: #007bb6 !important;
}

.essbfc-template-modern .essbfc-github:hover .essbfc-network {
	background-color: #171515 !important;
}
.essbfc-template-modern .essbfc-github .essbfc-network {
	border-bottom: 3px solid #171515 !important;
}
.essbfc-template-modern .essbfc-github .essbfc-network i {
	color: #171515 !important;
}

.essbfc-template-modern .essbfc-instagram:hover .essbfc-network {
	background-color: #3f729b !important;
}

.essbfc-template-modern .essbfc-instagram .essbfc-network {
	border-bottom: 3px solid #3f729b !important;
}
.essbfc-template-modern .essbfc-instagram .essbfc-network i {
	color: #3f729b !important;
}


.essbfc-template-modern .essbfc-soundcloud:hover .essbfc-network {
	background-color: #ff7700 !important;
}
.essbfc-template-modern .essbfc-soundcloud .essbfc-network {
	border-bottom: 3px solid #ff7700 !important;
}
.essbfc-template-modern .essbfc-soundcloud .essbfc-network i {
	color: #ff7700 !important;
}

.essbfc-template-modern .essbfc-behance:hover .essbfc-network {
	background-color: #005cff !important;
}
.essbfc-template-modern .essbfc-behance .essbfc-network {
	border-bottom: 3px solid #005cff !important;
}
.essbfc-template-modern .essbfc-behance .essbfc-network i {
	color: #005cff !important;
}

.essbfc-template-modern .essbfc-delicious:hover .essbfc-network {
	background-color: #205cc0 !important;
}
.essbfc-template-modern .essbfc-delicious .essbfc-network {
	border-bottom: 3px solid #205cc0 !important;
}
.essbfc-template-modern .essbfc-delicious .essbfc-network i {
	color: #205cc0 !important;
}

.essbfc-template-modern .essbfc-foursquare:hover .essbfc-network {
	background-color: #25a0ca !important;
}
.essbfc-template-modern .essbfc-foursquare .essbfc-network {
	border-bottom: 3px solid #25a0ca !important;
}
.essbfc-template-modern .essbfc-foursquare .essbfc-network i {
	color: #25a0ca !important;
}

.essbfc-template-modern .essbfc-forrst:hover .essbfc-network {
	background-color: #5b9a68 !important;
}
.essbfc-template-modern .essbfc-forrst .essbfc-network {
	border-bottom: 3px solid #5b9a68 !important;
}
.essbfc-template-modern .essbfc-forrst .essbfc-network i {
	color: #5b9a68 !important;
}

.essbfc-template-modern .essbfc-dribbble:hover .essbfc-network {
	background-color: #ea4c89 !important;
}
.essbfc-template-modern .essbfc-dribbble .essbfc-network {
	border-bottom: 3px solid #ea4c89 !important;
}
.essbfc-template-modern .essbfc-dribbble .essbfc-network i {
	color: #ea4c89 !important;
}

.essbfc-template-modern .essbfc-envato:hover .essbfc-network {
	background-color: #82b540 !important;
}
.essbfc-template-modern .essbfc-envato .essbfc-network {
	border-bottom: 3px solid #82b540 !important;
}
.essbfc-template-modern .essbfc-envato .essbfc-network {
	color: #82b540 !important;
}

.essbfc-template-modern .essbfc-vk:hover .essbfc-network {
	background-color: #45668e !important;
}
.essbfc-template-modern .essbfc-vk .essbfc-network {
	border-bottom: 3px solid #45668e !important;
}
.essbfc-template-modern .essbfc-vk .essbfc-network i {
	color: #45668e !important;
}

.essbfc-template-modern .essbfc-rss:hover .essbfc-network {
	background-color: #FF6600 !important;
}
.essbfc-template-modern .essbfc-rss .essbfc-network {
	border-bottom: 3px solid #FF6600 !important;
}
.essbfc-template-modern .essbfc-rss .essbfc-network i {
	color: #FF6600 !important;
}

.essbfc-template-modern .essbfc-tumblr:hover .essbfc-network {
	background-color: #32506d !important;
}
.essbfc-template-modern .essbfc-tumblr .essbfc-network {
	border-bottom: 3px solid #32506d !important;
}
.essbfc-template-modern .essbfc-tumblr .essbfc-network i {
	color: #32506d !important;
}

.essbfc-template-modern .essbfc-vine:hover .essbfc-network {
	background-color: #00b488 !important;
}
.essbfc-template-modern .essbfc-vine .essbfc-network {
	border-bottom: 3px solid #00b488 !important;
}
.essbfc-template-modern .essbfc-vine .essbfc-network i {
	color: #00b488 !important;
}

.essbfc-template-modern .essbfc-slideshare:hover .essbfc-network {
	background-color: #e98325 !important;
}
.essbfc-template-modern .essbfc-slideshare .essbfc-network {
	border-bottom: 3px solid #e98325 !important;
}
.essbfc-template-modern .essbfc-slideshare .essbfc-network i {
	color: #e98325 !important;
}

.essbfc-template-modern .essbfc-500px:hover .essbfc-network {
	background-color: #02adea !important;
}
.essbfc-template-modern .essbfc-500px .essbfc-network {
	border-bottom: 3px solid #02adea !important;
}
.essbfc-template-modern .essbfc-500px .essbfc-network {
	color: #02adea !important;
}

.essbfc-template-modern .essbfc-flickr:hover .essbfc-network {
	background-color: #FF0084 !important;
}
.essbfc-template-modern .essbfc-flickr .essbfc-network {
	border-bottom: 3px solid #FF0084 !important;
}
.essbfc-template-modern .essbfc-flickr .essbfc-network i {
	color: #FF0084 !important;
}

.essbfc-template-modern .essbfc-wp_posts:hover .essbfc-network {
	background-color: #c2685f !important;
}
.essbfc-template-modern .essbfc-wp_posts .essbfc-network {
	border-bottom: 3px solid #c2685f !important;
}
.essbfc-template-modern .essbfc-wp_posts .essbfc-network i {
	color: #c2685f !important;
}

.essbfc-template-modern .essbfc-wp_comments:hover .essbfc-network {
	background-color: #b8c25f !important;
}
.essbfc-template-modern .essbfc-wp_comments .essbfc-network {
	border-bottom: 3px solid #b8c25f !important;
}
.essbfc-template-modern .essbfc-wp_comments .essbfc-network i {
	color: #b8c25f !important;
}

.essbfc-template-modern .essbfc-wp_users:hover .essbfc-network {
	background-color: #5fa7c2 !important;
}
.essbfc-template-modern .essbfc-wp_users .essbfc-network {
	border-bottom: 3px solid #5fa7c2 !important;
}
.essbfc-template-modern .essbfc-wp_users .essbfc-network i {
	color: #5fa7c2 !important;
}

.essbfc-template-modern .essbfc-audioboo:hover .essbfc-network {
	background-color: #b0006d !important;
}
.essbfc-template-modern .essbfc-audioboo .essbfc-network {
	border-bottom: 3px solid #b0006d !important;
}
.essbfc-template-modern .essbfc-audioboo .essbfc-network i {
	color: #b0006d !important;
}

.essbfc-template-modern .essbfc-steamcommunity:hover .essbfc-network {
	background-color: #000000 !important;
}
.essbfc-template-modern .essbfc-steamcommunity .essbfc-network {
	border-bottom: 3px solid #000000 !important;
}
.essbfc-template-modern .essbfc-steamcommunity .essbfc-network i {
	color: #000000 !important;
}

.essbfc-template-modern .essbfc-weheartit:hover .essbfc-network {
	background-color: #ff679d !important;
}
.essbfc-template-modern .essbfc-weheartit .essbfc-network {
	border-bottom: 3px solid #ff679d !important;
}
.essbfc-template-modern .essbfc-weheartit .essbfc-network i {
	color: #ff679d !important;
}

.essbfc-template-modern .essbfc-feedly:hover .essbfc-network {
	background-color: #02bb24 !important;
}
.essbfc-template-modern .essbfc-feedly .essbfc-network {
	border-bottom: 3px solid #02bb24 !important;
}
.essbfc-template-modern .essbfc-feedly .essbfc-network i {
	color: #02bb24 !important;
}

.essbfc-template-modern .essbfc-love:hover .essbfc-network {
	background-color: #ED1C24 !important;
}
.essbfc-template-modern .essbfc-love .essbfc-network {
	border-bottom:3px solid #ED1C24 !important;
}
.essbfc-template-modern .essbfc-love .essbfc-network i {
	color: #ED1C24 !important;
}

.essbfc-template-modern .essbfc-mailpoet:hover .essbfc-network {
	background-color: #F14176 !important;
}
.essbfc-template-modern .essbfc-mailpoet .essbfc-network {
	border-bottom: 3px solid #F14176 !important;
}
.essbfc-template-modern .essbfc-mailpoet .essbfc-network i {
	color: #F14176 !important;
}

.essbfc-template-modern .essbfc-mymail:hover .essbfc-network {
	background-color: #28b4e9 !important;
}
.essbfc-template-modern .essbfc-mymail .essbfc-network {
	border-bottom: 3px solid #28b4e9 !important;
}
.essbfc-template-modern .essbfc-mymail .essbfc-network i {
	color: #28b4e9 !important;
}

.essbfc-template-modern .essbfc-spotify:hover .essbfc-network {
	background-color: #84bd00 !important;
}
.essbfc-template-modern .essbfc-spotify .essbfc-network {
	border-bottom: 3px solid #84bd00 !important;
}
.essbfc-template-modern .essbfc-spotify .essbfc-network i {
	color: #84bd00 !important;
}

.essbfc-template-modern .essbfc-twitch:hover .essbfc-network {
	background-color: #6441a5 !important;
}
.essbfc-template-modern .essbfc-twitch .essbfc-network {
	border-bottom: 3px solid #6441a5 !important;
}
.essbfc-template-modern .essbfc-twitch .essbfc-network i {
	color: #6441a5 !important;
}

.essbfc-template-modern .essbfc-total:hover .essbfc-network {
	background-color: #555555 !important;
}
.essbfc-template-modern .essbfc-total .essbfc-network {
	border-bottom:3px solid #555555 !important;
}
.essbfc-template-modern .essbfc-total .essbfc-network i {
	color: #555555 !important;
}


/*
 * social profile icons
 */
.essbfc-icon {
	font-family: 'essb-socialfollowers';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.essbfc-icon {
	line-height: normal;
	font-size: 38px;
	display: block;
	padding: 5px 0px;
	padding-top: 10px;
	padding-bottom: 0px;
}

.essbfc-followers-count {
	font-size: 24px;
	line-height: normal;
	text-transform: uppercase;
	padding-top: 0;
	min-width: 80px;
	display: block;
	margin-bottom: 0px;
}

.essbfc-followers-text {
	font-size: 11px;
	text-transform: uppercase;
	display: block;
	line-height: normal;
	margin-bottom: 7px;
}

.essbfc-totalastext {
	font-weight: bold;
}

.essbfc-icon-google:before {
	content: '\e800';
} /* '' */
.essbfc-icon-facebook:before {
	content: '\e801';
} /* '' */
.essbfc-icon-twitter:before {
	content: '\e802';
} /* '' */
.essbfc-icon-pinterest:before {
	content: '\e803';
} /* '' */
.essbfc-icon-linkedin:before {
	content: '\e804';
} /* '' */
.essbfc-icon-github:before {
	content: '\e805';
} /* '' */
.essbfc-icon-vimeo:before {
	content: '\e806';
} /* '' */
.essbfc-icon-dribbble:before {
	content: '\e807';
} /* '' */
.essbfc-icon-mailchimp:before {
	content: '\e808';
} /* '' */
.essbfc-icon-soundcloud:before {
	content: '\e809';
} /* '' */
.essbfc-icon-behance:before {
	content: '\e80a';
} /* '' */
.essbfc-icon-forrst:before {
	content: '\e80b';
} /* '' */
.essbfc-icon-delicious:before {
	content: '\e80c';
} /* '' */
.essbfc-icon-instagram:before {
	content: '\e80d';
} /* '' */
.essbfc-icon-youtube:before {
	content: '\e80e';
} /* '' */
.essbfc-icon-vk:before {
	content: '\e80f';
} /* '' */
.essbfc-icon-rss:before {
	content: '\e810';
} /* '' */
.essbfc-icon-vine:before {
	content: '\e811';
} /* '' */
.essbfc-icon-tumblr:before {
	content: '\e812';
} /* '' */
.essbfc-icon-slideshare:before {
	content: '\e813';
} /* '' */
.essbfc-icon-flickr:before {
	content: '\e814';
} /* '' */
.essbfc-icon-wp_posts:before {
	content: '\e815';
} /* '' */
.essbfc-icon-wp_comments:before {
	content: '\e816';
} /* '' */
.essbfc-icon-wp_users:before {
	content: '\e817';
} /* '' */
.essbfc-icon-audioboo:before {
	content: '\e818';
} /* '' */
.essbfc-icon-steamcommunity:before {
	content: '\e819';
} /* '' */
.essbfc-icon-love:before {
	content: '\e81a';
} /* '' */
.essbfc-icon-weheartit:before {
	content: '\e81a';
} /* '' */
.essbfc-icon-heart:before {
	content: '\e81b';
} /* '' */
.essbfc-icon-envato:before {
	content: '\e81e';
} /* '' */
.essbfc-icon-500px:before {
	content: '\e81f';
} /* '' */
.essbfc-icon-feedly:before {
	content: '\e820';
} /* '' */
.essbfc-icon-mailpoet:before {
	content: '\e808';
} /* '' */
.essbfc-icon-mymail:before {
	content: '\e808';
} /* '' */
.essbfc-icon-spotify:before {
	content: '\e81c';
} /* '' */
.essbfc-icon-twitch:before {
	content: '\e81d';
} /* '' */
.essbfc-icon-total:before {
	content: '\e81a';
} /* '' */

/* template fixes for one column style in round */
.essbfc-container.essbfc-col-1.essbfc-template-roundcolor li .essbfc-icon,
.essbfc-container.essbfc-col-1.essbfc-template-outlinecolor li .essbfc-icon,
.essbfc-container.essbfc-col-1.essbfc-template-roundgrey li .essbfc-icon,
.essbfc-container.essbfc-col-1.essbfc-template-outlinegrey li .essbfc-icon,
.essbfc-container.essbfc-col-1.essbfc-template-roundlight li .essbfc-icon,
.essbfc-container.essbfc-col-1.essbfc-template-outlinelight li .essbfc-icon {
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	float: left;
	font-size: 21px;
	width: 38px;
	height: 38px;
	line-height: 38px;
}

/* Animations */
.essbfc-network:hover .essbfc-icon-pulse:before, .essbfc-icon-pulse:focus:before, .essbfc-icon-pulse:active:before {
  -webkit-animation-name: hvr-icon-pulse;
  animation-name: hvr-icon-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.essbfc-network:hover .essbfc-icon-down:before, .essbfc-icon-down:focus:before, .essbfc-icon-down:active:before {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.essbfc-network:hover .essbfc-icon-up:before, .essbfc-icon-up:focus:before, .essbfc-icon-up:active:before {
  -webkit-animation-name: hvr-icon-up;
  animation-name: hvr-icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}



.essbfc-network:hover .essbfc-icon-pulse-grow:before, .essbfc-icon-pulse-grow:focus:before, .essbfc-icon-pulse-grow:active:before {
  -webkit-animation-name: hvr-icon-pulse-grow;
  animation-name: hvr-icon-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.essbfc-network:hover .essbfc-icon-pop:before, .essbfc-icon-pop:focus:before, .essbfc-icon-pop:active:before {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.essbfc-network:hover .essbfc-icon-wobble-horizontal:before, .essbfc-icon-wobble-horizontal:focus:before, .essbfc-icon-wobble-horizontal:active:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.essbfc-network:hover .essbfc-icon-wobble-vertical:before, .essbfc-icon-wobble-vertical:focus:before, .essbfc-icon-wobble-vertical:active:before {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.essbfc-network:hover .essbfc-icon-buzz-out:before, .essbfc-icon-buzz-out:focus:before, .essbfc-icon-buzz-out:active:before {
  -webkit-animation-name: hvr-icon-buzz-out;
  animation-name: hvr-icon-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}