@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

body {
}

.container-fluid {
/*    padding-left: 20px;  */
    padding-right: 20px;
    width: 100%;
    *zoom: 1;
}
#checkallModules, #uncheckallModules ,#checkOpt,#uncheckOpt {
 background:none!important;
 border:none;    
 padding:0!important;
 color: #0099D5;
 text-decoration:none;

}
.activate {
    color:#fff;
    background-color:#0074A2;
 }
.deactivate {
 

  }
  

.container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
}

.container-fluid:after {
    clear: both;
}

.accordion {
    margin-bottom: 18px;
}

.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion-heading {
    border-bottom: 0;
}

.accordion-heading a {
    text-decoration: none;
    color: #ffffff;
    font: 12px Verdana;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}

.accordion-heading a:hover {
    color: #2EA2CC;
    text-decoration: none;
}

.accordion-inner {
    padding: 9px 15px;
    background: #ffffff;
    border-top: 1px solid #e5e5e5;
}

.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion-heading {
    border-bottom: 0;
    background: #222222;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}

.collapse {
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
    position: relative;
    overflow: hidden;
    height: 0;
}

.collapse.in {
/*    height: auto; */
height: auto !important;
transition-duration: 2s;
}

.nav-collapse.collapse {
    height: auto;
}

.success {
    background-color: #EAF0D5;
    border: 1px solid #008000;
}

.alert {
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}

.alert-warning {
    background-color: #FAEBE7 !important;
    border: 1px solid #F16048 !important;
    color: #DF280A !important;
}

.pluginAbsent {
   background: rgba(168,0,0,1);
background: -moz-linear-gradient(left, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(168,0,0,1)), color-stop(100%, rgba(255,0,0,1)));
background: -webkit-linear-gradient(left, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
background: linear-gradient(to right, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80000', endColorstr='#ff0000', GradientType=1 );
}

.pluginPresent {
    background: rgba(168,0,0,1);
background: -moz-linear-gradient(left, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(168,0,0,1)), color-stop(100%, rgba(255,0,0,1)));
background: -webkit-linear-gradient(left, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
background: linear-gradient(to right, rgba(168,0,0,1) 0%, rgba(255,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80000', endColorstr='#ff0000', GradientType=1 );
}

.pluginActive {
    background: rgba(164,179,87,1);
background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
}

.container-fluid label {
    display: block;
    /*font-size: 1.2em;*/
    padding: 8px;
}

.typeofplugin {
    font-size: 1.3em;
}

.supportedplugins td {
    width: 230px;
}

.typeofplugin {
  /*  text-transform: uppercase; */
}

td.plugintype {
    width: 230px;
}

.box-one {
    height: auto;
    margin-left: 3px;
}

.top-right-box {
    width: 98%;
}

.top-left-box {
    width: 98%;

}

.top-left-box, .top-right-box {
    height: 350px;
    margin-right: 20px;
    margin-top: 50px;
}
.left_align {
  width:23%;
}


/*.top-left-box{
float:left;
}
.top-right-box{
float:right;
} */
.top-left-box h3, .top-right-box h3, .fileManager h3 {
    padding: 10px;
    background: #222222;
    margin-top: 10px;
    border-color: #D2E3EB;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-weight: normal;
    font-size: 1.5em;
 /*   text-transform: uppercase;  */
    color: #ffffff;
}

.top-left-box h3:hover, .top-right-box h3:hover, .fileManager h3:hover {
    color: #ffffff;
}

.top-left-content, .top-right-content {
    border: 1px solid #dddddd;
    height: 350px;
    margin-top: -16px;
    background: #ffffff;
}

.fileManager {
    width: 98%;
}

.manager-content {
    height: auto;
    margin-top: -12px;
    /*border: 1px solid #2e8965;*/
    border: 1px solid #dddddd;
    border-top: 1px solid #333333;
}

.manager-actions {
    width: 210px;
}

.manageraction {
    margin-right: 15px;
    cursor: pointer;
}

.file-version {
    width: 100px;
}

.importedtime, .updatedtime {
    width: 150px;
}

.importedtype {
    width: 225px;
}

.importedfilename {
    width: 250px;
}

.selectall {
    width: 60px;
}

.center {
    text-align: center;
}

.header-icon {
    margin-right: 15px;
}

.form-group label {
    margin-top: 0px;
    -webkit-margin-start: 8px;
    -webkit-margin-end: 0px;
}

.mappingactions {
    width: 300px;
}

.importstatus label {
    margin-top: 12px
}

.importstatus span {
    /*margin-top:15px;*/
    padding: 0 5px;
}

.manager-filter {
    padding: 20px 0px 10px 0px;
}

.wpcustfields {
    margin-top: -45px;
    margin-left: 20px;
}

.form-group .col-sm-3 input[type=radio] {
    margin-top: 2px;
}

#accordion h3.import-option-settings {
    /* margin-top: 0px; */
}

.global-actions {
    padding: 10px;
}

.col-sm-3, div.export_action {
    width: 50%;
}

div#mappingheader select {
    width: 170px;
}

.radio-icon {
    float: left;
    padding-right: 6px;
    margin-top: -2px;
}

.header-text {
    float: right;
    margin: -5px 0 0 0;
}

.method-row {
    width:100%;
}

.importfileoption .header-text {
 /*  text-transform: uppercase;   */
   font-size: 1.3em;
   font-weight: bold;
} 

.method1, .method2, .method3, .method4 {
   padding: 15px 0;
}

#boxmethod1, #boxmethod2, #boxmethod3, #boxmethod4 {
   padding: 10px;
}

.scheduling-config {
   width:80%;
}

.scheduling-config td {
   padding: 8px;
}

.form-group, .importcsvfile{
padding-bottom:38px;
}
.form-group1, .importcsvfile{
padding-bottom:38px;
}

.form-group, .exportedas{
height:50px;
}

.exportedas{
padding-bottom: 0px;
}
.exportdatatype {
width:50%;
}
.exportmodule {
width:100%;
}
.h-exportmodule{
font-size: 1.4em;
}
.exportmodule > thead > tr > th, .exportmodule > tbody > tr > th, .exportmodule > tfoot > tr > th, .exportmodule > thead > tr > td, .exportmodule > tbody > tr > td, .exportmodule > tfoot > tr > td {
padding: 8px;
line-height: 1.428571429;
vertical-align: top;
border-top: 1px solid #ffffff !important;
}

.advancemediahandling {
padding-right:15px;
float:left;
}

.media_handling {
height: 50px;
padding-top: 15px;
padding-left: 15px;
}


/*.mappingheader .table-condensed label {
margin-top:13px;
}
.mappingheader .table-condensed span {
margin-top:13px;
}*/

/*settings css*/
.selected {
background-color:#fcfcfc !important;
color:#222222;
border:0 none !important;
}
.selected:hover {
background-color:#E5E5E5 !important;
opacity:1;
color:#222 !important;
}
.not-selected {
background-color:#F2F2F2 !important;
color:#777;
opacity:0.7;
}
.bg-sidebar {
background-color:#F2F2F2;
}
#sidebar ul
{
margin-top: -1px;
margin-top: 0px;
width:100%;
float:left;
cursor:pointer;
position: relative;
list-style-type: none;
padding-left:5px;
}
#sidebar ul > li
{
border-right: 1px solid #e7e7e7;
border-bottom: 1px solid #e7e7e7;
margin-left:-5px;
margin-bottom: -0px;
padding:10px 23px;
font-weight:700;
font-size:13px;
}
#sidebar li:hover {
background-color:#E5E5E5;
color:#555;
}
#contentbar {
color: #444444;
display:inline-block;
font-family: "Open Sans",sans-serif;
font-size: 13px;
line-height: 1.4em;
background: none repeat scroll 0 0 #FCFCFC;
width: 73.5%;
height:965px;
border-right:1px solid #D1D1D1;
position: absolute;
margin-left:0%;
float:right;
min-height:499px;
}
#sidebar {
float:left;
height:965px;
border-left:1px solid #D1D1D1;
color:#777;
background:#F2F2F2;
width:25%;
min-height:499px;
}
#settingmodule
{
width:100%;
}
/*.list-arrow {
margin-top: -5px;
margin-right: -23px; 
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-right: 15px solid #fff;
float:right;
}*/

.title {
border-bottom: 1px solid #E7E7E7;
margin-left:25px;
margin-right:25px;
}
.title > h3, #exporttitle {
color: #222;
font-family: "Open Sans",sans-serif;
font-size: 1.3em;
font-weight: 600;
line-height: 2em;
margin-top:10px;
}
#innertitle {
color: #333 !important;
font-family: "Open Sans",sans-serif !important;
font-size: 14px !important;
font-weight: 700 !important;
}
#data
{
font-size:13px;
color:#666;
font-weight:400;
margin-left:25px;
margin-right:25px;
padding-left:30px;
padding-top:10px;
padding-bottom: 10px;
}
#resetcustfield {
    float: right;
    margin-top: -33px;
    margin-right: 8px;
}
#wpusercheck,#allowimport,#schedulecheck,#dropon,#onwoocomreg,#catenable,#postlabel,#debugmode_enable,#defaultlabel,#cptulabel,#typescustompost,#cctmcustompost,#podscustompost,#yoastseolabel,#aioseolabel,#acffieldlabel,#cctmfieldlabel,#typesfieldlabel,#podsfieldlabel,#ecomlabel,#pagelabel,#userlabel,#commentslabel,#custaxlabel,#cplabel,#catlabel,#custrevlabel {
border-radius:5px 0 0 5px;
}
#wpuseruncheck,#donallowimport,#scheduleuncheck,#dropoff,#offwoocomreg,#catdisable,#nopostlabel,#debugmode_disable,#nodefaultlabel,#nocptulabel,#notypescustompost,#nocctmcustompost,#nopodscustompost,#noyoastseolabel,#noaioseolabel,#noacffieldlabel,#nocctmfieldlabel,#notypesfieldlabel,#nopodsfieldlabel,#noecomlabel,#nopagelabel,#nouserlabel,#nocommentslabel,#nocustaxlabel,#nocplabel,#nocatlabel,#nocustrevlabel {
border-radius:0 5px 5px 0;
}
#activemenu {
    margin-left: 3px;
    margin-top: 15px;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.7em;
}
#dblabel > input[type="checkbox"] {
margin-top:-3px !important;
}
/*#dropdown {
-moz-user-select: none;
    background-clip: padding-box;
    background-color: #fff;
   background-image: linear-gradient(to top, #eee 0%, #fff 50%);
   border: 1px solid #aaa;
   border-radius: 4px;
   color: #444;
   display: block;
   height: 26px;
   line-height: 26px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
   text-decoration: none;
    white-space: nowrap;
 }*/
 
.tabase table {
width:80%;
}
#align {
padding-top:5px;
padding-left:5px;
color:#666;
font-size:16px;
font-family: "open sans";
}
#data table {
width:88%;
}
.security-perfoemance {
-webkit-padding-after: 26px !important;
}
.custom-fields {
-webkit-padding-after: 14px !important;
}
.databorder tr {
border-bottom:1px solid #E7E7E7;
}
.databorder tr:last-child {
border-bottom: 0 none !important;
}
#data td {
padding: 8px 0;
}
#settingheader {
border:1px solid #D1D1D1;
height:52px;
margin-right:23px;
margin-top: -17px;
width:98%;
}
#bottomsave {
border-bottom:1px solid #D1D1D1;
border-left:1px solid #D1D1D1;
border-right:1px solid #D1D1D1;
height:52px;
margin-right:23px;
margin-top: -4px;
width:98%;
}
#settingsholder {
display:inline-block;
height:966px;
width:98%;
border-bottom:1px solid #D1D1D1;
min-height:500px;
}
#resetopt {
color: #0099d5;
}
.settings-icon {
padding-right: 7px;
}
.uiplus-settings {
padding-top: 10px;
}
#data input[type="radio"],input[type="checkbox"] {
margin-top: -3px !important;
}
.corner-icon > img {
margin-left: 11px;
margin-top: 13px;
}
.enablesetting {
background-color:#0074a2;
color:#fff;
border-color: #004f6f;
box-shadow: 0 1px 0 #00abef inset, 0 1px 0 rgba(0, 0, 0, 0.15);
border-style: solid;
border-width: 1px;
cursor: pointer;
line-height: normal;
margin-right: -4px;
padding: 5px;
border-radius:5px;
text-align:center;
}
.disablesetting {
background-color: #e6e6e6;
background-image: linear-gradient(#fff, #fff 25%, #e6e6e6);
background-repeat: no-repeat;
border-color: #ccc #ccc #bbb;
border-image: none;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
cursor: pointer;
line-height: normal;
margin-right: -4px;
padding: 5px;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
border-radius:5px;
text-align:center;
}
.debug-info-name {
width:40%;
}
.ini-configured-values, .min-requirement-values {
text-align: center;
}
.moduleavail {
    float: left;
    margin: 6px 0 0 20px !important;
    position: absolute;
}
#pluginavail {
width: 8px;
height: 9px;
border-radius: 15px;
float:right;
margin-top: 11px;
}
#repavail {
width: 8px;
height: 9px;
border-radius: 15px;
}
#repplugin {
    padding-left: 5px;
    padding-top: 5px;
}
#replabel{
    padding-left:5px;
    margin-top:-7px;
}
/*End of settings css*/

/*Export Settings*/
#exporttable input[type="radio"],input[type="checkbox"] {
	margin-top: -3px !important;
	vertical-align: middle;
	min-width: 16px;
}
/*End of export section*/
.inside input[type="radio"],input[type="checkbox"] {
        margin-top: -3px !important;
        vertical-align: middle;
        min-width: 16px;
}
#renameradio input[type="radio"] {
        margin-top: -3px !important;
        vertical-align: middle;
        min-width: 16px;
}
#updatediv input[type="checkbox"] {
        margin-top: -3px !important;
        vertical-align: middle;
        min-width: 16px;
}
#savetemp input[type="radio"] {
        margin-top: -3px !important;
        vertical-align: middle;
        min-width: 16px;
}

/*#importopt  {
color: #222;
font-family: "Open Sans",sans-serif;
font-size: 1.3em !important;
font-weight: 600 !important;
}*/

#importalign,#preview_of_row {
padding-top:5px !important;
padding-left:5px !important;
color:#666 !important;
font-size:14px !important;
font-family: "open sans" !important;
}
#importalign > input[type="radio"], input[type="checkbox"] {
margin: 0px 6px !important;
}
.importstatus, #importalign {
margin-top:0px;
}
.csvheader, .csvcolumnvalue {
font-size: 13px;
display: block;
font-style: normal;
font-weight: 400;
color:#666;
}
div#log {
color: #666;
}
.columnheader {
font-size: 1.25em;
}

.form-group {
margin-top: 10px;
}
.acfversion {
padding-right: 20px;
}
/*Summary log*/
#logtabs {
height:315px !important;
}
/*End off summary*/
/* Import screen styles */
.ftphint {
    color: #777;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}
.innertitle {
color: #333 !important;
font-family: "Open Sans",sans-serif !important;
font-size: 18px !important;
font-weight: 700 !important;
}
#filenamedisplay, .moduledisplay {
font-size: 16px;
font-family: "Open Sans",sans-serif !important;
margin-left: 5px;
}
#displayname {
padding-top: 10px;
}
.align {
padding-top:5px;
padding-left:5px;
color:#666;
font-size:14px;
font-family: "open sans";
}
/*Update screen*/
.freshupdate {
float:right;
margin-top:-52px;
}
.updatetemplatelist {
font-size:13px;
color:#666;
font-weight:400;
}
.borderalign {
border:1px solid red;
}

/*Mapping Screen*/
.grouptitle {
    color: #444;
    font-family: "Open Sans",sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2em;
    margin-left: 10px;
}
.samptxt {
color:#2ea2cc;
font-size:11px;
font-family: "Open Sans",sans-serif !important;
margin-top: -8px;
}
.groupfield {
color: #333 !important;
font-family: "Open Sans",sans-serif !important;
font-size: 14px !important;
font-weight: 700 !important;
margin-left: 20px;
}
.grouptitlediv {
border:1px solid #ddd;
background-color:#EFEFED;

}
.grouptitlecontent {
border-left:1px solid #ddd;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
}

.summarizegroupcontent {
overflow-y: scroll;
height: 500px;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
}

.mapoption {
    color: #555 !important;
    font-family: "Open Sans",sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    margin-top:16px;
    margin-left:16px;
}
/*Select option style */
#selectdiv select { 
-moz-user-select: none;
    width:135px;
    background-clip: padding-box;
    background-color: #fff;
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
    color: #444;
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    z-index:-1px;
    text-overflow: '';
    -moz-appearance: none;
}

#selectdiv { 
overflow:hidden; width:135px;
-moz-border-radius: 9px 9px 9px 9px;
-webkit-border-radius: 9px 9px 9px 9px;
border-radius: 4px;
border: 1px solid #aaa;
z-index:-1px;
height: 27px;
margin-top:5px;
}
/*Summarize Page*/
.recorddetail {
    color: #555 !important;
    font-family: "Open Sans",sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-left: 16px;
    margin-top: 6px;
}
.paneltitle {
//margin-left:9px;
padding:7px 9px;
border: 1px solid #ddd;
}
.summarypanel {
width:33%;
float:left;
padding:10px;
/* border-top:1px solid #C6C4C4;
border-bottom:1px solid #C6C4C4;
/*border:1px solid #ddd;
margin:20px 15px;*/
}
#summarylist .panel.panel-default {
margin: 0px 15px 0 0px; 
}
.rowdiv{
width:100%;
padding-left: 10px;
/* height:500px;
/* overflow-y: scroll; */
margin-bottom:25px;
/* border-bottom:1px solid #C6C4C4;
/* margin-left:10px; */
}
.grouptitlecontent td {
width:50%;
}
.mappingtemplate, .wpfields, .samptxt {
padding-left: 20px;
}
.exclusion-list {
padding:5px;
}
/* File Manager Styles */
.fmfilter {
	height:34px !important;
}
.fmheadstyle {
text-align:center;
}
/* Smart schedule */
.schedulelogtable {
background:#F7F7F7;
}
.schedulehead {
text-align:center;
}
/* Templates */
.temphead {
 text-align:center;
}
/* Image Shortcode */
.imgcodehead {
 text-align:center;
}
/* Log Manager */
.loghead {
text-align:center;
}

#importsect, div#accordion {
width: 100%;
}
/* table bg*/
.tablebg {
background:#FFFFFF;
}
.filmg {
margin-top:10px;
}
.imgscd {
margin-top:-4.5%;
}
#event-shortcodes table {
text-align:center;
}
.panel.panel-default.edit-template {
margin-top: 5px;
}
