.counts_4 {
	font-size:11px !important;
	font-weight:400;
	display:inline-block;
	padding-left:5px;
	color: #525552;
}
.tax_label_4{
	display:inline-block;
	/*width:35%;*/
	text-align:right;
	padding-right:4%;
	color: #525552;
	white-space: pre-line;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;
	font-size:14px;
	height: auto;
	min-height: 32px;
	line-height:32px;
	vertical-align:top;
}
.taxonomy_select_4, .taxonomy_input_4{
	display:inline-block !important;
	margin:0px;
	cursor:pointer;
	width:100% !important;
	padding-right:4% !important;
	font-size: 14px !important;
	height: 28px !important;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.090) !important;
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.090) !important;
	box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1) !important;
	color: #f7f3f7 !important;
	line-height: 160% !important;
	padding: 2px 7px !important;
	vertical-align: middle !important;
	min-height: 32px !important;
	border: 1px solid #636163 !important;
	background: rgba(123,121,123,1) !important;
	background: -moz-linear-gradient(top, rgba(123,121,123,1) 0%, rgba(132,130,132,1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(123,121,123,1)), color-stop(100%, rgba(132,130,132,1))) !important;
	background: -webkit-linear-gradient(top, rgba(123,121,123,1) 0%, rgba(132,130,132,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(123,121,123,1) 0%, rgba(132,130,132,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(123,121,123,1) 0%, rgba(132,130,132,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(123,121,123,1) 0%, rgba(132,130,132,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b797b', endColorstr='#848284', GradientType=0 ) !important;
	border-radius: 7px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-weight: 400 !important;
	padding-right:1px !important;
	margin: 0 5px !important;
}
.taxonomy_select_4:hover{
	color:#999;
}
.taxonomy_input_4{
	background-color: transparent !important;
	background-image: url(../images/search_icon.png) !important;
	background-position: 98% center !important;
	background-repeat: no-repeat !important;
	background-size: 20px 20px !important;
}
.checkbox_container_4{
	width:55%;
	padding:0;
	margin:0;
	padding-right:4%;
	display:inline-block;
}
.checkbox_container_4 ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
.checkbox_container_4 ul li{
	margin:0px;
	padding:3px 0px;
	color: #ababab;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-right:15px;
	font-size:14px;
}
.button-submit_4{
	background: rgba(247,247,247,1) !important;
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(214,215,214,1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(100%, rgba(214,215,214,1))) !important;
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(214,215,214,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(214,215,214,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(214,215,214,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(214,215,214,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d6d7d6', GradientType=0 ) !important;
	border-radius: 6px !important;
	color:#6b6d6b !important;
	font-size:13px !important;
	text-align:center !important;
	border:1px solid #7b7d7b !important;
	padding:7px 29px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	cursor:pointer !important;
	box-shadow: inset -1px -1px 0px rgba(255,255,255,0.90) !important;
	text-shadow:1px 1px 0x #000 !important;
	min-width: 90px !important;
	margin-left:39% !important;
	
}

.button-submit_4:hover{
	background: rgba(247,247,247,1)
}

.individual_taxonomy_4 .controls_4{
	width:100%;
	padding-right:4%;
	padding-left:4%;
	display:inline-block;
}
.slider_4 .amount_4{
	color: #777;
	font-size:12px;
}
.slider_4 .ui-widget-header_4{
	background: rgba(252,252,252,1)!important;
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(47%, rgba(242,242,242,1)), color-stop(100%, rgba(235,235,235,1)))!important;
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType=0 )!important;
}
.slider_4 .ui-state-default_4{
	border-radius:6px;
}
.slider_4 .ui-widget-content_4{
	border:1px dotted #ccc;
}

.radio_container_4{
	margin: 0 5px !important;
	width:100%;
	padding:0;
	margin:0;
	padding-right:4%;
	display:inline-block;
}
.radio_container_4 ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
.radio_container_4 ul li{
	margin:0px;
	padding:3px 0px;
	font-weight:600;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-right:15px;
}