.counts_7 {
	font-size:11px;
	font-weight:400;
	display:inline-block;
	padding-left:5px;
	color:#4e4e4e;
}
.tax_label_7 {
	display:inline-block;
	/*width:35%;*/
	text-align:right;
	padding-right:4%;
	color: #212021;
	white-space: pre-line;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;
	font-size:14px;
	height: auto;
	min-height: 28px;
	line-height:28px;
	vertical-align:top;
}
.taxonomy_select_7, .taxonomy_input_7{
	display:inline-block !important;
	margin:0px !important;
	cursor:pointer !important;
	width:100% !important;
	padding-right:4% !important;
	font-size: 14px !important;
	height: 24px !important;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.02) !important;
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.02) !important;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.02) !important;
	color: #595959 !important;
	line-height: 120% !important;
	text-transform:uppercase !important;
	padding: 2px 7px !important;
	vertical-align: middle !important;
	min-height: 28px !important;
	border: none !important;
	background: #D5D5D5 !important;
	border-radius: 1px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow:1px 1px 0px rgba(255,255,255,0.2) !important;
	font-weight: 400 !important;
	padding-right:1px !important;
	margin: 0 5px !important;
}
.taxonomy_input_7{
	background-color: transparent !important;
	background-image: url(../images/search_icon.png) !important;
	background-position: 98% center !important;
	background-repeat: no-repeat !important;
	background-size: 20px 20px !important;
}
.taxonomy_select_7:hover, .taxonomy_input_7:hover{
	color:#000;
}
.checkbox_container_7{
	width:55%;
	padding:0;
	margin:0;
	padding-right:4%;
	display:inline-block;
}
.checkbox_container_7 ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
.checkbox_container_7 ul li{
	margin:0px;
	padding:3px 0px;
	color: #D04D49;
	font-weight:bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-right:15px;
	font-size:13px;
}
.button-submit_7{
	background: #D04D49 !important;
	border-radius: 1px !important;
	color:#FFF !important;
	text-transform:uppercase !important;
	font-size:12px !important;
	text-align:center !important;
	border:none !important;
	padding:6px 18px !important;
	font-family: 'Open Sans', sans-serif !important;
	cursor:pointer !important;
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1) !important;
	min-width: 90px !important;
	margin-left:39% !important;
	
}
.button-submit_7:hover{
	background: #a0a0a0;
}
.individual_taxonomy_7 .controls_7{
	width:100%;
	padding-right:4%;
	padding-left:4%;
	display:inline-block;
}
.slider_7 .amount_7{
	color: #777;
	font-size:12px;
}
.slider_7 .ui-widget-header_7{
	background: rgba(252,252,252,1)!important;
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(47%, rgba(242,242,242,1)), color-stop(100%, rgba(235,235,235,1)))!important;
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType=0 )!important;
}
.slider_7 .ui-state-default_7{
	border-radius:6px;
}
.slider_7 .ui-widget-content_7{
	border:1px dotted #ccc;
}

.radio_container_7{
	margin: 0 5px !important;
	width:100%;
	padding:0;
	margin:0;
	padding-right:4%;
	display:inline-block;
}
.radio_container_7 ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
.radio_container_7 ul li{
	margin:0px;
	padding:3px 0px;
	font-weight:600;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-right:15px;
}