.individual_taxonomy .tax_label{
	display:block !important;
	width:95% !important;
	text-align:left;
	margin-left:2px!important;
}
.individual_taxonomy .taxonomy_select, .individual_taxonomy .taxonomy_input, .individual_taxonomy .checkbox_container, .individual_taxonomy .controls{
	display:block !important;
	width:95% !important;
	margin-left:2px!important;
}
.individual_taxonomy .button-submit{
	margin-left:2px!important;
}