.counts_5 {
	font-size:11px;
	font-weight:400;
	display:inline-block;
	padding-left:5px;
	color:#4e4e4e;
}
.tax_label_5{
	display:inline-block;
	/*width:35%;*/
	text-align:right;
	padding-right:4%;
	color: #212021;
	white-space: pre-line;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;
	font-size:14px;
	height: auto;
	min-height: 28px;
	line-height:28px;
	vertical-align:top;
}
.taxonomy_select_5, .taxonomy_input_5{
	display:inline-block !important;
	margin:0px;
	cursor:pointer;
	width:100% !important;
	padding-right:4%;
	font-size: 14px;
	height: 24px !important;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.02) !important;
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.02) !important;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.02) !important;
	color: #3a87ad !important;
	line-height: 120% !important;
	padding: 2px 7px !important;
	vertical-align: middle !important;
	min-height: 28px !important;
	border: 1px solid #91cad5 !important;
	background: #d9edf7 !important;
	border-radius: 2px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	text-shadow:1px 1px 1px #fff !important;
	font-weight: 400 !important;
	padding-right:1px !important;
	margin: 0 5px !important;
}
.taxonomy_input_5{
	background-color: transparent !important;
	background-image: url(../images/search_icon.png) !important;
	background-position: 98% center !important;
	background-repeat: no-repeat !important;
	background-size: 20px 20px !important;
}
.checkbox_container_5{
	width:55%;
	padding:0;
	margin:0;
	padding-right:4%;
	display:inline-block;
}
.checkbox_container_5 ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
.checkbox_container_5 ul li{
	margin:0px;
	padding:3px 0px;
	color: #3a87ad;
	font-weight:bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-right:15px;
	font-size:13px;
}
.button-submit_5{
	background: #368ee0 !important;
	border-radius: 1px !important;
	color:#FFF !important;
	font-weight:bold !important;
	font-size:12px !important;
	text-align:center !important;
	border:none !important;
	padding:6px 18px !important;
	font-family: 'Open Sans', sans-serif;
	cursor:pointer;
	box-shadow: inset -1px -1px 1px rgba(0,0,0,0.20) !important;
	min-width: 90px;
	margin-left:39% !important;
	
}
.individual_taxonomy_5 .controls_5{
	width:100%;
	padding-right:4%;
	padding-left:4%;
	display:inline-block;
}
.slider_5 .amount_5{
	color: #777;
	font-size:12px;
}
.slider_5 .ui-widget-header_5{
	background: rgba(252,252,252,1)!important;
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(47%, rgba(242,242,242,1)), color-stop(100%, rgba(235,235,235,1)))!important;
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType=0 )!important;
}
.slider_5 .ui-state-default_5{
	border-radius:6px;
}
.slider_5 .ui-widget-content_5{
	border:1px dotted #ccc;
}

.radio_container_5{
	margin: 0 5px !important;
	width:100%;
	padding:0;
	margin:0;
	padding-right:4%;
	display:inline-block;
}
.radio_container_5 ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
.radio_container_5 ul li{
	margin:0px;
	padding:3px 0px;
	font-weight:600;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-right:15px;
}