[class^="icon-"], [class*=" icon-"] {
	text-align:center;
}
.individual_taxonomy{
	padding:1%;
	margin:8px 0;
	position:relative;
	padding-right:10px;
}
.individual_taxonomy .icon-remove{
	position:absolute;
	top:5px;
	right:0px;
}
.individual_taxonomy .icon-remove:hover{
	color:#C30;
	cursor:pointer;
}
.individual_taxonomy input[type="checkbox"], .individual_taxonomy input[type="radio"]{
	margin: -4px 4px 0 0; !important;
}
.individual_taxonomy input[type="radio"]{
	border-radius: 100% !important;
}
.individual_taxonomy input[type=reset]{

}

.row-fluid {
	width: 100%;
}
.row-fluid:after {
clear: both;
}
.row-fluid:before, .row-fluid:after {
display: table;
line-height: 0;
content: "";
}
.individual_taxonomy input[type="button"],.individual_taxonomy input[type="reset"],.individual_taxonomy input[type="submit"]{
	color:#333;
}
.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

/*manage page */
.div_pointer{
    cursor: pointer;
}
.icon-remove-e:before{
  content: "\f014";
  color: #666;
  font-size: 14px;
  padding-left: 4px;
}
.icon-edit-e:before{
  content: "\f044";
  color: #666;
  font-size: 14px;
  padding-left: 4px;
}

.loading {
	background: url('../img/spinner.gif') no-repeat;
	height: 48px;
	margin: 2px;
}