.counts{
	font-size:12px;
	font-weight:400;
	display:inline-block;
	padding-left:5px;
	color:#000;
}
.tax_label{
	display:inline-block;
	/*width:35%;*/
	text-align:right;
	padding-right:4%;
	color: #212021;
	white-space: pre-line;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;
	font-size:14px;
	height: auto;
	min-height: 32px;
	line-height:32px;
	vertical-align:top;
}
.taxonomy_select, .taxonomy_input{
	display:inline-block !important;
	margin:0px !important;
	cursor:pointer !important;
	width:55% !important;
	padding-right:4% !important;
	font-size: 14px !important;
	height: 28px !important;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.090) !important;
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.090) !important;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2) !important;
	color: #949694 !important;
	line-height: 160% !important;
	padding: 2px 7px !important;
	vertical-align: middle !important;
	min-height: 32px !important;
	border: 1px solid #b5b6b5 !important;
	background: rgba(229,232,229,1) !important;
	background: -moz-linear-gradient(top, rgba(229,232,229,1) 0%, rgba(214,215,214,1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,232,229,1)), color-stop(100%, rgba(214,215,214,1))) !important;
	background: -webkit-linear-gradient(top, rgba(229,232,229,1) 0%, rgba(214,215,214,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(229,232,229,1) 0%, rgba(214,215,214,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(229,232,229,1) 0%, rgba(214,215,214,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(229,232,229,1) 0%, rgba(214,215,214,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e8e5', endColorstr='#d6d7d6', GradientType=0 ) !important;
	border-radius: 4px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-weight: 400 !important;
	padding-right:1px !important;
}
.taxonomy_input{
	background-color: rgba(229,232,229,1) !important;
	background-image: url(../images/search_icon.png) !important;
	background-position: 98% center !important;
	background-repeat: no-repeat !important;
	background-size: 20px 20px !important;
}
.checkbox_container{
	width:55%;
	padding:0;
	margin:0;
	padding-right:4%;
	display:inline-block;
}
.checkbox_container ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
.checkbox_container ul li{
	margin:0px;
	padding:3px 0px;
	color: #212021;
	font-weight:600;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-right:15px;
}
.button-submit{
	background: rgba(132,134,140,1) !important;
	background: -moz-linear-gradient(top, rgba(132,134,140,1) 0%, rgba(123,125,133,1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(132,134,140,1)), color-stop(100%, rgba(123,125,133,1))) !important;
	background: -webkit-linear-gradient(top, rgba(132,134,140,1) 0%, rgba(123,125,133,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(132,134,140,1) 0%, rgba(123,125,133,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(132,134,140,1) 0%, rgba(123,125,133,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(132,134,140,1) 0%, rgba(123,125,133,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84868c', endColorstr='#7b7d85', GradientType=0 ) !important;
	border-radius: 10px !important;
	color:#FFF !important;
	font-weight:bold !important;
	font-size:12px !important;
	text-align:center !important;
	border:1px solid #325a74 !important;
	padding:6px 18px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	cursor:pointer !important;
	box-shadow: inset -1px -1px 1px rgba(0,0,0,0.20) !important;
	text-shadow:1px 1px 0x #000 !important;
	min-width: 90px !important;
	margin-left:39%;
	
}
.button-submit:hover{
	background: #91939a;
}
.individual_taxonomy .controls{
	width:55%;
	padding-right:4%;
	display:inline-block;
}
.slider .amount{
	color: #777;
	font-size:12px;
}
.slider .ui-widget-header{
	background: rgba(252,252,252,1) !important;
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(47%, rgba(242,242,242,1)), color-stop(100%, rgba(235,235,235,1)))!important;
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 47%, rgba(235,235,235,1) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType=0 )!important;
}
.slider .ui-state-default{
	border-radius:6px;
}
.slider .ui-widget-content{
	border:1px dotted #ccc;
}